.page {
    position: absolute;
    width: calc(100% - 220px);
    height: 100%;
    top: 0px;
    left: 220px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
    padding: 2px 8px;
}

section {
    margin: 10px;
    padding: 4px 8px 4px 8px;
    border-style: solid;
    border: 2px solid black;
    box-shadow: 10px 10px 5px lightblue;
}

@media only screen and (max-width: 800px) {
    .page {
        left: 0px;
        bottom: 100px;
        width: 100%;
        height: calc(100% - 100px);
    }
}