.page {
    position: absolute;
    width: calc(100% - 220px);
    height: 100%;
    top:0px;
    left:220px;
}

#profileHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 2px 8px;
}

section{
    margin: 10px;
    padding: 4px 8px 4px 8px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

#projectList, .skillList{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
}

@media only screen and (max-width: 800px){
    .page {
        left: 0px;
        top: 100px;
        width: 100%;
        height: calc(100% - 100px);
    }
}