.edit-profile-body.about {
    /* box-sizing: border-box; */
    /* height: calc(100% - 28px - 10px); */
    /* margin: 0px 45px; */
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
  }
  
  .edit-profile-body.about .edit-profile-section-1 {
    display: grid;
    grid-template-areas:
      'image row1'
      'image row2'
      'image row3';
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    /* row-gap: 10px; */
  }
  
  .edit-profile-body.about .edit-profile-section-2 {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .edit-profile-body.about .edit-profile-section-3 {
    /* box-sizing: border-box; */
    height: 100%;
  }
  
  .about-row {
    display: grid;
    gap: 10px;
  }
  
  .row-1 {
    grid-area: row1;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  .row-2 {
    grid-area: row2;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  .row-3 {
    grid-area: row3;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  #profile-editor-add-image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border: 2px dashed #424242;
    gap: 10px;
  }

  #profile-editor-about {
    overflow-y: auto;
  }