.edit-profile-body.about {
    /* box-sizing: border-box; */
    /* height: calc(100% - 28px - 10px); */
    /* margin: 0px 45px; */
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
  }
  
  .edit-profile-body.about .edit-profile-section-1 {
    display: grid;
    grid-template-areas:
      'image row1'
      'image row2'
      'image row3';
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    /* row-gap: 10px; */
  }
  
  .edit-profile-body.about .edit-profile-section-2 {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .edit-profile-body.about .edit-profile-section-3 {
    /* box-sizing: border-box; */
    height: 100%;
    width: 100%;
  }
  
  .about-row {
    display: grid;
    gap: 10px;
  }
  
  .row-1 {
    grid-area: row1;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  .row-2 {
    grid-area: row2;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  .row-3 {
    grid-area: row3;
    grid-template-columns: 4fr 4fr 2fr;
  }
  
  #profile-editor-add-image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border: 2px dashed #424242;
    gap: 10px;
    width: 100%;
    height: auto;
  }

  #profile-editor-about {
    overflow-y: auto;
    overflow-x: hidden;
  }

  textarea, input, select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

  /* Layout on medium screens */  
  @media only screen and (max-width: 1171px) and (min-width: 701px) {
    .edit-profile-body.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 5px;
  }

  .edit-profile-section-1 {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  #profile-editor-funFact, #profile-editor-bio, #profile-editor-headline {
    height: 100px;
  }

  #profile-editor-add-image {
    max-width: 250px;
  }

  .about-row.row-1, .about-row.row-2, .about-row.row-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
  }

  .editor-input-item {
    flex: 1 1 250px;
    min-width: 100px;
    width: 100%;
  }

  .edit-profile-section-2 {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
  }
  }

  /* Layout on small screens */
  @media only screen and (max-width: 700px) {
  .edit-profile-body.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 5px;
    overflow-x: hidden;
  }

  .edit-profile-section-1 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;
  }

  #profile-editor-bio {
    height: 100px;
  }

  #profile-editor-funFact, #profile-editor-headline {
    height: 70px;
  }

  #profile-editor-add-image {
    max-width: 200px;
    margin-right: 15vw;
    /* box-sizing: border-box; */
  }

  .about-row.row-1, .about-row.row-2, .about-row.row-3 {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 220px;
    gap: 10px;
  }
  
 .edit-profile-section-2 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}