/*
Table of Contents
General Style rules
Component Style rules
    -Card components
    -Tags
    -Button components
    -Sidebar nav
    -Page popup
    -Header
    -Search
    -Dropdown
    - Select
    -Scrollbar
    -Tag Filter
    -Image carousel
    -Scroll to top

see: pages.css for the rules that format the page itself
     index.css for fonts
     makeAvatar.css for avatar creation
*/

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
General style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
/*default color scheme*/
:root {
  /* default dark mode is default */
  --bg-color: #0e0e0e;
  /* background color */

  --primary-color: #fead81;
  /* primary color for buttons, etc. */
  --panel-hover: rgba(254, 173, 129, 0.9);
  /* hover color for profile cards */
  --header-color: #1a1921;
  /* search bar, header button background, profile page background, etc. */
  --dropdown-color: #0e0e0e;
  /* dropdown/small modal background color */
  --sidebar-gradient: linear-gradient(180deg, #2c2a3a 30%, #fead81 100%);
  --hero-gradient: linear-gradient(180deg, #0e0e0e 30%, #2c2a3a 100%);
  /* gradient for  discover hero section */
  --modal-gradient: linear-gradient(293deg, #0a0a0a 0%, #2c2a3a 100%);
  /* gradient for bigger modals (project/profile settings, etc.) */
  --border-color: #2b2939;
  /* border for elements like textboxes that are on top of gradients for better visibility */
  --error-delete-color: #ff3859;
  /* for error messages and delete buttons */
  --shadow-color: rgba(255, 255, 255, 0.2);
  /* for shadows */

  /* text colors */
  --main-text: white;
  --invert-text: black;
  --neutral-gray: #9d9d9d;

  /* sidebar create button */
  --create-bg: #2c2a3a;
  --create-text: white;

  /* don't invert black image */
  --image-filter: invert(1);

  /* tags */
  --tag-red-selected: #ffa0b0;
  --tag-orange-selected: #ffa381;
  --tag-yellow-selected: #ffcf8b;
  --tag-green-selected: #bed9aa;
  --tag-blue-selected: #b0dcee;
  --tag-purple-selected: #d7bed3;
  --tag-grey-selected: #d0d0d0;

  --tag-red-unselected: #0e0e0e;
  --tag-orange-unselected: #0e0e0e;
  --tag-yellow-unselected: #0e0e0e;
  --tag-green-unselected: #0e0e0e;
  --tag-blue-unselected: #0e0e0e;
  --tag-purple-unselected: #0e0e0e;
  --tag-grey-unselected: #0e0e0e;

  --tag-red-unselected-border: #ffa0b0;
  --tag-orange-unselected-border: #ffa381;
  --tag-yellow-unselected-border: #ffcf8b;
  --tag-green-unselected-border: #bed9aa;
  --tag-blue-unselected-border: #b0dcee;
  --tag-purple-unselected-border: #d7bed3;
  --tag-grey-unselected-border: #d0d0d0;

  --tag-text-selected: white;

  --tag-text-unselected-red: #ffa0b0;
  --tag-text-unselected-orange: #ffa381;
  --tag-text-unselected-yellow: #ffcf8b;
  --tag-text-unselected-green: #bed9aa;
  --tag-text-unselected-blue: #b0dcee;
  --tag-text-unselected-purple: #d7bed3;
  --tag-text-unselected-grey: #d0d0d0;

  /* 
    When implemented look into this https://codepen.io/sosuke/pen/Pjoqqp
    to change the add_tag.svg color in tag selection.

    Should be black for all tags in light mode
    and match the tag color in dark mode
    */
}

/*light mode color scheme*/
[data-theme='light'] {
  --bg-color: #fff;

  --primary-color: #271d66;
  --panel-hover: rgba(39, 29, 102, 0.9);
  --header-color: #ececf7;
  --dropdown-color: #fff;
  --sidebar-gradient: linear-gradient(180deg, #d3d3ff 0%, #ffceb4 100%);
  --hero-gradient: linear-gradient(180deg, #ffffff 50%, #d3d3ff 100%);
  --modal-gradient: linear-gradient(113deg, #d3d3ff 0%, #fff 100%);
  --border-color: #d3d3ff;
  --error-delete-color: #ff3859;
  --shadow-color: rgba(0, 0, 0, 0.2);

  --main-text: black;
  --invert-text: white;
  --neutral-gray: #636363;

  --create-bg: white;
  --create-text: #271d66;

  /* invert black image */
  --image-filter: invert(0);

  /* tags */
  --tag-red-selected: #ffa0b0;
  --tag-orange-selected: #ffa381;
  --tag-yellow-selected: #ffcf8b;
  --tag-green-selected: #bed9aa;
  --tag-blue-selected: #b0dcee;
  --tag-purple-selected: #d7bed3;
  --tag-grey-selected: #d0d0d0;

  --tag-red-unselected: #ffd9df;
  --tag-orange-unselected: #ffdacd;
  --tag-yellow-unselected: #ffecd1;
  --tag-green-unselected: #e5f0dd;
  --tag-blue-unselected: #dff1f8;
  --tag-purple-unselected: #efe5ed;
  --tag-grey-unselected: #ececec;

  --tag-red-unselected-border: #ffd9df;
  --tag-orange-unselected-border: #ffdacd;
  --tag-yellow-unselected-border: #ffecd1;
  --tag-green-unselected-border: #e5f0dd;
  --tag-blue-unselected-border: #dff1f8;
  --tag-purple-unselected-border: #efe5ed;
  --tag-grey-unselected-border: #ececec;

  --tag-text-selected: black;

  --tag-text-unselected-red: black;
  --tag-text-unselected-orange: black;
  --tag-text-unselected-yellow: black;
  --tag-text-unselected-green: black;
  --tag-text-unselected-blue: black;
  --tag-text-unselected-purple: black;
  --tag-text-unselected-grey: black;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--main-text);
}

/*basic rules for hiding/showing certain elements
used for the more options dropdown menu and notifications
*/
.hide {
  display: none;
}

.show {
  display: block;
}

.page-title {
  margin-bottom: 0;
  font-size: 42px;
  margin-left: max(1.79vw, 27px);
  color: var(--primary-color);
}

.error {
  color: var(--error-delete-color);
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
}

.button-reset {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 2ch;
  font-weight: 700;

  width: max-content;
  margin: auto;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

/*give sections of the page a drop shadow*/
section {
  margin: 10px;
  padding: 4px 16px 16px 16px;
  border-style: solid;
  border: 2px solid black;
  box-shadow: 10px 10px 5px lightblue;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Card component style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*style rules for the cards with drop shadows (see wireframes)*/
/*discover card: used on the discover page for projects and profiles*/
/*endorsement: used on the profile page to show endorsements user has recieved*/
/*profile-project-card: used on the profile page to show projects the user is a part of*/
/*message-card: used on the messages page for each user message*/
.discover-card,
#endorsement,
#profile-project-card {
  width: 70%;
  max-width: 765px;
  max-height: 265px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px lightblue;
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  padding: 3%;
  margin: 2.5% auto;
  transition: 1s;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/*makes them bigger when hovered over */
/*TODO: endorsements dont get bigger for some reason*/
.discover-card:hover #endorsement:hover,
#profile-project-card:hover {
  transform: scale(1.05);
}

/*the animation that plays when the card is loaded*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#discover-card-body {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-template-rows: 10% 50% 30% 10%;
  font-size: 0.8rem;
}

/*make them grow and shrink with the window */
#discover-card-body>* {
  flex: 1;
}

#message-card #discover-card-body {
  margin-top: 0%;
  padding-bottom: 5%;
}

#profile-project-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#profile-project-card {
  width: 85%;
}

#endorsement {
  flex-direction: row;
  width: 85%;
}

#message-card {
  max-height: 45px;
  grid-template-columns: 10% 90%;
  padding-top: 0;
  padding-bottom: 3.5%;
}

@media only screen and (max-width: 800px) {
  .discover-card {
    width: 90%;
    max-width: 90%;
  }
}

/*profile picture rules-----------------------------------------------------*/
#discover-card-profile-picture,
#profile-project-profile-picture,
#endorsement-profile-picture {
  width: 100%;
  border: 2px solid black;
  border-radius: 100%;
}

#profile-project-profile-picture {
  width: 80%;
}

#endorsement-profile-picture {
  width: 60%;
}

#message-card #discover-card-profile-picture {
  width: 110%;
  margin-top: 15%;
}

/*text rules---------------------------------------------------------------*/
#discover-card-name {
  text-align: center;
  margin-bottom: 0;
}

#message-card #discover-card-name {
  text-align: left;
}

#discover-card-name:hover,
#profile-project-name:hover {
  text-decoration: underline;
}

#discover-card-description {
  margin-top: 0;
  max-width: 450px;
}

#discover-card-tag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 4px;
  max-width: 450px;
}

#discover-card-pronouns {
  margin-top: 0%;
  text-align: center;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Tag component style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*used in Tags component */
.tag {
  display: flex;
  align-items: center;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  text-align: center;
  padding: 0.5vw 1vw;
  max-height: 25px;
}

.tag-name {
  margin: 0;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  .tag-name {
    font-size: 2vw;
  }
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Button component style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*general rules for buttons
orange-button class makes the button orange, white-button class makes the button white*/
.orange-button {
  background-color: var(--orange);
  color: var(--white);
  font-size: large;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.orange-button:hover {
  background-color: var(--orange-hover);
}

/*icon button: has an icon in it*/
.white-button,
.icon-button {
  background-color: var(--white);
  color: black;
  border: none;
  cursor: pointer;
}

.white-button:hover,
.icon-button:hover {
  background-color: #d0d0d0;
}

.icon-button {
  width: 50px;
  height: 50px;
}

.icon-button>img {
  width: 100%;
}

/*rules for the 'return' button*/
#return-button {
  font-weight: bold;
  font-size: larger;
  height: 40px;
  margin-bottom: 10px;
}

#return-button-container {
  text-align: left;
  display: flex;
  position: absolute;
  float: inline-start;
  flex-direction: row;
  align-content: center;
  margin: auto;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Sidebar Nav style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.SideBarContainer {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px; */
  z-index: 2;
  color: var(--dark-lighttheme);
  background-color: var(--bg-color);
  /*background-image: url("../../../public/images/nav-background.png");*/
  background-image: var(--sidebar-gradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#lfg-logo {
  width: 80px;
}

/* .ProfileContainer {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Container for logo and notification bell */
.headerContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 30px 0 30px 0;
}

#notif-dot {
  width: 12px;
  height: 12px;
  background-color: var(--red);
  color: white;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  right: 14px;
}

/* notification bell */
.headerContainer button {
  background: none;
  border: none;
  width: 33px;
  height: 33px;
}

/* title/logo */
.headerContainer h1 {
  font-weight: bold;
  font-size: 45px;
  margin: 0px 0px 0px 30px;
  text-align: center;
  color: var(--primary-color);
}

/*sidebar options*/
.containerButtonSideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  /*background-color: var(--primary-blue);*/
}

.containerButtonSideBar button {
  color: var(--main-text);
  width: 194px;
  height: 55px;
  /*background-color: var(--primary-blue);*/
  background-color: rgb(0, 0, 0, 0);
  border: none;
  border-radius: 30px;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: auto;
  display: flex;
  align-items: center;
  /*color: var(--dark-lighttheme);*/
  gap: 15px;

  img {
    width: 30px;
    filter: invert(0);
  }
}

.containerButtonSideBar button:hover {
  transition-duration: 0.25s;
  background-color: var(--invert-text);
}

.containerButtonSideBar button.active {
  background-color: var(--primary-color);
  transition: 0.25s;
  font-weight: bold;
  color: var(--invert-text);

  img {
    filter: invert(1);
  }
}

/* Profile picture or avatar */
.displayProfilePic,
#profile-pic {
  height: 140px;
  width: 140px;
  background-color: var(--header-color);
  border-radius: 4px;
  display: flex;
  border: none;
  /* box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25); */
  margin-bottom: 14px;
  object-fit: cover;
  overflow: hidden;
}

.displayProfilePic img,
#profile-pic img {
  scale: 1.1;
}

/*logout button*/
/*!!!May be removed later!!!*/
.Logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logout button {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  width: 120px;
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  /* outline: solid var(--orange) 2px; */
  font-weight: 600;
}

.Logout button:hover {
  background-color: rgb(199, 198, 198);
}

/* .Logout button:hover {
    transition-duration: 0.25s;
    background-color: var(--orange);
    color: white;
    outline: solid var(--orange) 2px;
    cursor: pointer;
} */


/*create button*/
.Create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Create>.error {
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  position: absolute;
  bottom: 100px;
}

.Create>button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--create-bg);
  color: var(--create-text);
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  width: 194px;
  height: 55px;
  font-size: 20px;
  /* padding-bottom: 5px; */
  border: none;
  border-radius: 30px;
  /* outline: solid var(--orange) 2px; */
  font-weight: bold;

  img {
    width: 25px;
    margin-right: 10px;
  }
}

 .Create > button:hover {
    background-color: var(--create-text);
    color:var(--create-bg);
    filter:drop-shadow(0px 5px 3px var(--shadow-color));
    transition: 0.25s;

    img {
        filter: invert(1) saturate(0) brightness(2);
    }
}

/*responsive stuff for sidebar*/
@media only screen and (max-width: 799px) {
  .sideBarContainer {
    width: 100vw;
    height: 50px;
    /*border: solid black 2px;*/
    position: fixed;
    bottom: 10px;
    background-color: var(--header-color);
    z-index: 1;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;*/
  }

  .ProfileContainer {
    width: 15vw;
  }

  .containerButtonSideBar {
    display: flex;
    flex-direction: row;
    /* cursor: pointer; */
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background-color: var(--header-color);
  }

  .containerButtonSideBar button {
    width: 20vw;
    height: 45px;
    margin: 0 5px 20px 5px;
    padding-left: calc((100vw - 160px) / 10);
    padding-right: auto;
  }

  .containerButtonSideBar button:hover {
    transition-duration: 0.25s;
    background-color: var(--invert-text);
  }

  .containerButtonSideBar button.active {
    background-color: var(--primary-color);
    transition: 0.25s;
    font-weight: bold;
    color: var(--invert-text);

    img {
      filter: invert(1);
    }
  }
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Page popup style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*rules for the cover a popup uses*/
.popup-cover {
  display: block;
  position: fixed;
  background-color: black;
  opacity: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*rules for the popup itself*/
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: var(--modal-gradient);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  /* max-width: 1321px; */
  max-width: 1121px;
  max-height: 849px;
  opacity: 100%;
  z-index: 3;
  /* height: 849px; */
}

/* Used inside of popup object for smaller popups */
.small-popup {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  opacity: 100%;
  z-index: 3;
  padding: 20px 40px;
}

@media (max-width: 576px) {
  .popup {
    /* max-width: 921px;
    max-height: 781px;
    width: 64vw; */
    /* height: 95vw; */
  }
}

.popup-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 10px;
}

#popup-close {
  position: absolute;
  border-radius: 4px;
  top: 10px;
  right: 10px;
  background: none;
}

.onFront {
  z-index: 5;
}

.popup-back {
  position: absolute;
  border-radius: 4px !important;
  border: none !important;
  top: 0px;
  left: 0px;
  background: none !important;
  margin: min(1.59vw, 24px) 0 0 min(1.59vw, 24px) !important;
  display: flex;
  align-items: center;

  img {
    height: 24px;
    /* Font-size is meant to be 20pt, which corresponds to 24px here */
  }
}

.popup-close {
  position: absolute;
  border-radius: 4px !important;
  border: none !important;
  top: 0px;
  right: -1.1%;
  width: 40px !important;
  height: 40px !important;
  background: none !important;
  margin: 0 !important;
  z-index: 4;
  /* Prevent it from being covered by small-popup */
}

@media screen and (max-width: 1180px) {
  .popup-close {
    margin: 0 8px 0 0 !important;
    right: 1%;
  }
}

.popup-close img {
  width: 100%;
  height: 32px;
  margin-top: 3px;
  filter: var(--image-filter);
}

.popup-close:hover {
  /* background-color: var(--lightGray) !important; */
  cursor: pointer;
}

#popup-close img {
  width: 40px;
  height: 40px;
  filter: var(--image-filter);
}

/*rules used to prevent page scrolling while a popup is open*/
.page-scroll-lock {
  position: fixed;
  padding-right: 15px;
}

.popup #filters-popup {
  display: flex;
  flex-direction: column;
  align-items: center;

  #primary-btn {
    width: 104px;
    height: 40px;
    padding: 5px 16px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--invert-text);
    font-weight: 700;
    margin-top: min(3.67vh, 36px);
    margin-bottom: min(2.65vh, 26px);
  }

  h2 {
    font-size: 24px;
    margin-top: min(3.46vh, 34px);
    margin-bottom: min(3.05vh, 30px);
    font-weight: 600;
    color: var(--primary-color);
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    margin: min(0.2vh, 2px) 0 min(0.51vh, 5px);
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-gray);
    font-style: italic;
    margin: 0 0 min(1.02vh, 10px);
  }

  .popup-section {
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    margin: min(1.32vh, 13px) min(6.68vw, 101px);
  }

  #filters {
    /* Scale with viewport, but cap off at 919x392 (including padding) */
    max-width: 857px;
    max-height: 340px;
    width: 56.7vw;
    height: 39.9vh;
    padding: min(2.65vh, 26px) min(2.05vw, 31px);

    p {
      margin-top: 0;
    }
  }

  #filter-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(3.87vh, 38px) min(2.51vw, 38px);
    justify-content: center;
    margin: min(1.63vh, 16px) auto;
  }

  .filter-tab {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-gray);
    /* Indicate should be clicked without being a button */
    cursor: pointer;
    transition: 0.2s;
    /* margin: 14px 38px; */
  }

  .filter-tab.selected {
    font-weight: 700;
    color: var(--primary-color);
  }

  hr {
    /* color: var(--header-color); */
    border: 1px solid var(--header-color);
    margin: 0;
    margin-bottom: min(1.73vh, 17px);
  }

  #filter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: min(1.02vh, 10px) min(0.66vw, 10px);
  }

  #selected-section {
    max-width: 859px;
    max-height: 178px;
    width: 56.8vw;
    height: 18.1vh;
    padding: min(1.63vh, 16px) min(1.98vw, 30px);
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #selected-filters {
    display: flex;
    flex-wrap: wrap;
    gap: min(1.02vh, 10px) min(0.66vw, 10px);
  }
}

/* Mobile styling */
@media (max-width: 576px) {
  .popup-back {
    margin: 2.01vw 0 0 2.01vw !important;
  }

  .popup #filters-popup {
    h2 {
      margin-top: 3.76vh;
      margin-bottom: 3.32vh;
    }

    .popup-section {
      margin: 1.44vh 8.47vw;
    }

    #filters {
      width: 71.9vw;
      height: 37.6vh;
      padding: 2.88vh 2.6vw;
    }

    #filter-tabs {
      column-gap: 3.19vw;
    }

    #selected-section {
      width: 72vw;
      height: 19.7vh;
      padding: 1.77vh 2.52vw;
    }
  }
}

/* .popup #primary-btn:hover {
  background-color: var(--border-color);
  color: var(--invert-text);
} */

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Header style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

#header {
  display: grid;
  align-items: center;
  text-align: left;
  /* margin-right: 50px; */
  margin: auto;
  grid-template: 'search buttons' 90px / auto max-content;
  background-color: rgba(0, 0, 0, 0);
  /* 
        Please don't comment the background-image rule out unless there is a good reason for it
        It makes a smooth color transition for the header to the page content, and works with light/dark mode
        from what I've tested. I see no reason to not use it.
    */
  background-image: linear-gradient(var(--bg-color) 85%, rgba(0, 0, 0, 0));
  /* width: calc(100% - 50px); */
  margin: 0 50px;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header-searchbar {
  grid-area: search;
}

#header-searchbar>.search-wrapper>.search-bar {
  margin: 0;
}

#header-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  /* width: 140px; */
  max-width: fit-content;
  margin-left: 10px;
}

#header-buttons button {
  background-color: var(--header-color);
  border-radius: 50px;
  border: none;
  margin-left: 10px;
  height: 45px;
  /* width: auto; */

  /* margin-left:10px;
    height:auto;
    width:auto;
    padding-top:4px; */
}

#notif-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;

  img {
    width: 34px;
  }
}

#profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #profile-img-icon {
    width: 32px;
    height: 32px;
  }

  #profile-img-icon.rounded {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
  }

  #dropdown-arrow {
    width: 15px;
    margin-top: 5px;
  }
}

/* #header-buttons img {
    filter:none;
    height:auto;
    margin:2px;
} */

#header-profile-dropdown {
  margin-top: 10px;
  width: 165px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--dropdown-color);
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  border: none;
  padding: 10px;
  /* color: var(--primary-color); */
}

#header-profile-user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

#header-profile-email {
  font-style: italic;
  font-size: smaller;
  color: var(--main-text);
}

#header-profile-dropdown img {
  height: 28px;
  width: 28px;
}

#header-profile-dropdown img.rounded {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color);
}

#header-profile-dropdown button {
  background: none;
  display: flex;
  width: 100%;
  border-radius: 10px;
  gap: 10px;
  align-items: center;
  margin: 0;
  flex-shrink: 0;
  color: var(--main-text);
}

#header-profile-dropdown button:hover {
  background-color: var(--header-color);
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Search style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*position on the page*/
.search-wrapper {
  /* display: flex;
    flex-direction: row; */
  /* align-content: right; */
  /* justify-self: right; */
  /* height: 50px; */
  /* margin-left: 50px;
    width: calc(100% - 40px); */
}

.fa-search {
  font-size: 20px;
}

.search-bar {
  height: 25px;
  /* width: 100%; */
  width: calc(100% - 2em);
  /* Keeps width within parent element */
  /* padding: 10px 15px; */
  padding: 10px 1em;
  /*border: 3px solid gray;*/
  border-radius: 40px;
  background-color: var(--header-color);
  color: var(--primary-color);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: row;
  /* float: right; */
  /* align-content: center; */
  /* margin: auto; */
}

/*text in the bar*/
.search-input,
.search-input::placeholder {
  background: none;
  width: 100%;
  color: var(--primary-color);
  border: none;
  padding: 4px;
  font: inherit;
  cursor: text;
  outline: inherit;
}

/*magnifying glass button*/
.search-button {
  background: none;
  border: none;
  /* padding: 4px; */
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navIcon {
  width: 33px;
  filter: invert();
}

@media only screen and (max-width: 800px) {
  .search-bar {
    font-size: 16px;
    /* width: 200px; */
  }
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Dropdown style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

.dropdown-container {
  position: relative;
}

.dropdown {
  /* border:solid 1px var(--dark-lighttheme); */
  border-radius: 10px;
  /* box-shadow: 1px 2px 2px var(--dark-lighttheme); */
  position: absolute;
  background: none;
  z-index: 2;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Select style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/
.select-container {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background: none;
  z-index: 2;
  margin-top: 5px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  /* Limit height to ten items, maybe less */
  max-height: 450px;
  overflow-y: scroll;
}

.select-button {
  min-width: 166px;
  min-height: 45px;
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px 15px;
  font-size: 15px;

  .value {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .placeholder {
    color: var(--neutral-gray);
    font-style: italic;
  }
}

.select-button-arrow {
  width: 12px;
  height: 8px;
  transform: scale(1, 1);
}

.select-button-arrow.opened {
  transform: scale(1, -1);
}

.select-option {
  min-width: 166px;
  min-height: 45px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--dropdown-color);
  padding: 15px 15px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.select-option:disabled {
  background-color: var(--tag-grey-unselected);
  color: var(--neutral-gray);
  cursor: not-allowed;
}

.select-option:hover {
  background-color: var(--primary-color);
  color: var(--invert-text);

  .fa,
  .fa-solid,
  .fa-regular,
  .fa-brands {
    color: var(--invert-text) !important;
  }
}

.select-option.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.select-option.bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Scrollbar style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 2px solid var(--header-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Tag Filter style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

#tag-filter-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-filter {
  width: 200px;
  height: 30px;
  border: var(--orange) solid 2px;
  color: var(--orange);
  cursor: pointer;
}

.tag-filter-selected {
  width: 200px;
  height: 30px;
  border: var(--green) solid 2px;
  color: var(--green);
  cursor: pointer;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Image Carousel style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

#carousel-tabs {
  display: flex;
  gap: 10px;
}

.carousel-tab {
  border: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--header-color);
}

.carousel-tab:hover,
.carousel-tab-active {
  background-color: var(--primary-color);
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
"Scroll To Top" Button style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
.ToTopContainer {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: fit-content;
  height: fit-content;
  font-size: 3rem;
  z-index: 1;
  /* color: green; */
}

.ToTopContainer .to-top-button {
  width: 40px;
  height: 40px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50px;

  img {
    width: 20px;
    rotate: 180deg;
  }
}

.to-top-button:hover {
  background-color: var(--header-color);
}

.hidden {
  display: none !important;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Spinning loader style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
.spinning-loader {
  border: 8px solid var(--neutral-gray);
  border-radius: 50%;
  border-top: 8px solid var(--primary-color);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.5s ease-in-out infinite;
  /* Safari */
  animation: spin 1.5s ease-in-out infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}