#profile-editor-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
}

.link-input {
  display: flex;
  column-gap: 0.5rem;
}

#add-link-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#profile-editor-add-link {
    background-color: #0000;
    border: none;
    border-radius: 30px;
    font-size: 1.8ch;
    font-weight: 700;
    height: 2ch;
}

.link-input-wrapper {
    position: relative;
    max-width: 100%;
    width: 400px;
}

.close-btn {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 50%;
    aspect-ratio: 1;

    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-10%) translateY(50%);
}

.close-btn .fa {
    color: rgb(253, 89, 89) !important;
    font-size: 20px;
}
