#profile-editor-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
}

.link-input {
  display: flex;
  column-gap: 0.5rem;
}

#add-link-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#profile-editor-add-link {
    background-color: #0000;
    border: none;
    border-radius: 30px;
    font-size: 1.8ch;
    font-weight: 700;
    height: 2ch;
}

.link-input-wrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.close-btn {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 25px;
    height: 27px;
    aspect-ratio: 1;
    position: absolute;
    right: 12px;
    top: 0;
    transform: translateX(-10%) translateY(90%);
}

.close-btn>.fa-minus {
  color: var(--invert-text);
}
