/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Login and Signup page style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.error {
  color: var(--error-delete-color);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0.5em;
  font-style: italic;
}

.background-cover {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: var(--modal-gradient);
  /* background: var(--primary-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-signup-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 525px;
  width: 880px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  border-radius: 10px;
}

.login-form,
.signup-form {
  width: 440px;
  height: 485px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directory {
  width: 440px;
  height: 485px;
  text-align: center;
  /* border: 1px solid black; */
  background: var(--sidebar-gradient);
  color: var(--main-text);
  padding: 20px;
  border-radius: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directory img {
  width: 360px;
  height: auto;
  /* height: 200px;
  border-radius: 100%; */
  margin-bottom: 20px;
}

/* .directory p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 100px;
} */

.login-form h2,
.signup-form h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--primary-color);
}

.login-form p {
  color: var(--primary-color);
  margin-bottom: 0;
}

.signup-name-input {
  width: 135px;
  height: 40px;
  margin: 5px;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--header-color);
  border-radius: 10px;
  text-align: left;
  font-size: 15px;
}

.signup-input,
.login-input {
  width: 320px;
  height: 40px;
  margin: 5px;
  padding: 5px 20px;
  border: none;
  background-color: var(--header-color);
  color: var(--main-text);
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.signup-input::placeholder,
.login-input::placeholder,
.signup-name-input::placeholder {
  color: var(--main-text);
  opacity: 0.75;
  font-weight: 300;
}

#main-loginsignup-btn {
  width: 110px;
  height: 40px;
  /* margin: 20px auto 0px auto; */
  padding: 5px 16px;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: 700;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.directory button {
  width: 120px;
  height: 40px;
  margin: 20px auto 0px auto;
  padding: 5px 16px;
  font-size: 20px;
  border: 1px solid #e3e3e3;
  border: none;
  border-radius: 50px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-weight: 700;
}

.login-form-inputs {
  /* border: 1px solid black; */
  /* height: 300px; */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-inputs {
  /* border: 1px solid black; */
  height: 340px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot-password {
  font-size: 14px;
  color: var(--primary-color);
  margin: 0px;
  box-shadow: none;
  width: 160px;
  text-decoration: none;
  background-color: var(--bg-color);
  border: none;
  font-weight: 300;
  padding: 10px;
}

#forgot-password:hover {
  text-decoration: underline;
}

.spacer {
  /* height: 30px; */
}

.mobile-signup,
.mobile-login {
  display: none;
}

#signup-btn-mobile,
#login-btn-mobile {
  display: none;
}

@media screen and (max-width: 1020px) {
  .background-cover {
    /* background-image: url("../../../public/images/mobile-directory-background.png"); */
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-signup-container {
    width: 540px;
    border-radius: 5px;
  }

  .login-form,
  .signup-form {
    position: fixed;
    border-radius: 4px;
  }

  .directory {
    visibility: collapse;
    display: none;
  }

  .mobile-signup,
  .mobile-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    font-weight: 300;
  }

  #signup-btn-mobile,
  #login-btn-mobile {
    display: block;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0 0 0 8px;
  }

  #signup-btn-mobile:hover,
  #login-btn-mobile:hover {
    cursor: pointer;
  }
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Signup process modal style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.signupProcess-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../../../public/images/mobile-directory-background.png"); */
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signupProcess-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  z-index: 10;
}

.ChooseSkills,
.ChooseInterests,
.ChooseProficiencies,
.CompleteProfile,
.GetStarted {
  background-color: var(--primary-color);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
  width: 1000px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);

  flex-direction: column;
  z-index: 1;
}

#signupProcess-title {
  font-size: 28px;
  color: var(--orange);
  width: 500px;
  text-align: center;

  p {
    font-size: 15px;
    color: black;
    margin: 10px;
    font-weight: 400;
  }
}

/* buttons */
#signupProcess-btns {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

#signup-nextBtn:disabled {
  border: none;
  border-radius: 14px;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--lightGray);
  color: black;
  border: 2px solid var(--lightGray);
  cursor: not-allowed;
}

#signup-nextBtn:disabled:hover {
  background-color: var(--lightGray);
  border: 2px solid var(--lightGray);
  color: black;
}

#signup-nextBtn {
  border: none;
  border-radius: 14px;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 800;
  background-color: var(--primary-color);
  color: var(--orange);
  border: 2px solid var(--orange);
}

#signup-nextBtn:hover {
  color: var(--main-text);
  background-color: var(--orange);
}

#signup-backBtn {
  border: none;
  border-radius: 14px;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--lightGray);
  color: black;
  border: 2px solid var(--lightGray);
}

#signup-backBtn:hover {
  background-color: var(--medGray);
  border: 2px solid var(--medGray);
}

#skill-select,
#interest-select,
#proficiency-select,
#getStarted-select {
  height: 515px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin: 20px;
}

.edit-interest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding: 0 20px;

  h4 {
    margin: 10px;
  }

  input {
    width: 340px;
    height: 30px;
    padding: 5px 20px;
    font-size: 15px;
    border: 2px solid var(--lightGray);
    border-radius: 50px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 400;
    align-self: center;
  }
}

#profile-details {
  height: 515px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* upload picture or use avatar buttons */
.profile-pic-option {
  width: 164px;
  height: 164px;
  position: fixed;
  display: hidden;
  transition: 0.2s;

  button,
  label {
    display: none;
  }
}

.profile-pic-option:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  transition: 0.2s;

  button {
    display: block;
    width: 140px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    transition: 0.2s;
  }

  button:hover,
  label:hover {
    color: var(--orange);
    cursor: pointer;
  }
}

.signup-fullname {
  margin: 0 20px;
}

.signup-fullname h2 {
  font-size: 24px;
  margin: 0;
  text-align: left;
}

.signup-fullname p {
  margin: 0;
  text-align: left;
}

#signup-profile-skill {
  font-size: 14px;
  margin: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 80px;
  margin: 4px 25px;
  flex-wrap: wrap;

  div {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 10px;
    font-weight: 500;
  }
}

#skill-select button,
#interest-select button,
#proficiency-select button {
  width: 180px;
  height: 65px;
  margin: 10px;
  padding: 0px 20px;
  font-size: 16px;
  border: 2px solid var(--lightGray);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: black;
  font-weight: 400;
  box-shadow: none;
}

#skill-select button.active,
#interest-select button.active,
#proficiency-select button.active {
  border: 2px solid var(--orange);
}

#display-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

#display-skills button.design {
  border: 2px solid var(--blue);
  background-color: var(--primary-color);
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
}

#pronouns-input {
  width: 180px;
  height: 35px;
  margin: 40px 0px 0px 10px;
  padding: 5px 20px;
  font-size: 15px;
  border: 2px solid var(--lightGray);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: black;
  font-weight: 400;
}

#bio-input {
  width: 400px;
  height: 140px;
  margin: 20px;
  padding: 10px;
  border: 2px solid var(--lightGray);
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}

.name-username-pronouns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 20px;
  gap: 10px;
  width: 230px;
  height: 150px;
}

#new-project-btn,
#join-project-btn {
  width: 240px;
  height: 200px;
  margin: 20px 40px;
  padding: 5px 10px;
  font-size: 24px;
  border: 2px solid var(--lightGray);
  border-radius: 12px;
  background-color: var(--primary-color);
  color: black;
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img {
    filter: invert(1);
  }
}

#new-project-btn:hover,
#join-project-btn:hover {
  background-color: var(--orange);
  color: var(--main-text);
  border: 2px solid var(--orange);

  img {
    filter: invert(0);
  }
}

@media screen and (max-width: 1020px) {
  #signupProcess-btns {
    width: 700px;
  }

  .ChooseSkills,
  .ChooseInterests,
  .ChooseProficiencies,
  .CompleteProfile,
  .GetStarted {
    width: 800px;
  }
}

@media screen and (max-width: 820px) {
  #signupProcess-btns {
    width: 500px;
  }

  .ChooseSkills,
  .ChooseInterests,
  .ChooseProficiencies,
  .CompleteProfile,
  .GetStarted {
    width: 550px;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 0px;
  }

  #signupProcess-btns {
    width: 480px;
  }

  .ChooseSkills,
  .ChooseInterests,
  .ChooseProficiencies,
  .CompleteProfile,
  .GetStarted {
    box-shadow: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0px;
  }

  .ChooseSkills,
  .ChooseInterests,
  .ChooseProficiencies,
  .CompleteProfile,
  .GetStarted {
    box-shadow: none;
    width: 100%;
  }

  #signupProcess-title {
    font-size: 24px;
  }
}
