/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Messages page style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/
.sent-msg {
  text-align: right;
  padding-right: 35%;
}

.recieved-msg {
  text-align: left;
  padding-left: 40%;
}

.sent-msg b,
.recieved-msg b {
  font-size: 16pt;
}

.sent-msg p,
.recieved-msg p {
  margin-bottom: 0;
  margin-top: 5px;
}

.date-stamp {
  font-size: 8pt;
  padding-top: 0;
  margin-top: 0;
  color: rgb(126, 124, 124);
}

.message-line-user:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  /*responsiveness goes here*/
}
