/*default color scheme*/
:root {
  --bg-color: #0e0e0e;
}

/*light mode color scheme*/
[data-theme='light'] {
  --bg-color: #ffffff;
  --primary-color: #271d66;
  --text-color: #271D66;
}

/*dark mode color scheme*/
[data-theme='dark'] {
  --bg-color: #0e0e0e;
  --primary-color: #fead81;
  --text-color: #FFCF8B;
}

 /*Additional edits to the .page container; centers elements on the page*/
.error-box{
    display: flex;
    flex-direction: column;
    flex-align: center;
    text-align: center;
    padding-top: 200px;
}



.error-button-container button:hover {
  transition-duration: 0.25s;
  background-color: var(--text-color);
}
.error-button-container button {
  background-color: var(--primary-color);
  transition: 0.25s;
  font-weight: bold;
  font-size: 20px;
  color: var(--invert-text);
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;


  img {
    filter: invert(1);
    max-width: 25px;
  }
}

.errorFrog{max-width: 25vh; width: auto; align-self: center;}

.error-header{color: var(--text-color); font-size: 30px;}

