/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Notification style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

#notif-popup {
  position: absolute;
  width: 30vw;
  height: 15vw;
  background-color: #D0D0D0;
  z-index: 5;
  padding: 10px;

  overflow-x: hidden;
  overflow-y: auto;

  right: 30px;
}

.notif-popup-boxes {
  border: 2px dashed black;
  margin: 5px 0;
}

.notif-button-wrapper {
  position: relative;
  float: right;
}

.notif-button-icon {
  width: 40px;
  height: auto;
  margin: 10px;
}

.notif-header {
  font-weight: 700;
}

.date-sent-header {
  background-color: rgb(238, 238, 238);
}

#notif-button {
  background: none;
  color: inherit;
  border: none;
  padding: 4px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Notification modal style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.notifications-container {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: -100px;
  /* Hidden by default */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
  z-index: 1;
  background-color: white;
  transition: left 0.4s ease;
  overflow-y: auto;
  /* Add scroll bar */
}

.notifications-container.show {
  left: 220px;
  /* Slide in when show class is added */
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.notifications-header button {
  width: 33px;
  height: 33px;
  border: none;
  background-image: url('../../../public/images/icons/s-arrow.png');
  background-size: cover;
  background-color: transparent;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

.notifications-body {
  padding: 15px;
}