@import 'aboutTab.css';
@import 'projectsTab.css';
@import 'linksTab.css';

textarea {
  resize: none;
}
/* ---------- Layout ---------- */
#profile-creator-editor {
  display: flex;
  flex-direction: column;
  background-image: var(--modal-gradient);
  width: 90vw;
  max-width: 1120px;
  height: calc(90vh - 200px);
   /* Comment height for the pop-up to stretch to any size,
   Dynamic sizing  */
  padding: 50px;
  border: none;
  border-radius: 10px;
  color: var(--main-text);

  position: relative;
}

#profile-editor-tabs {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

#profile-editor-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 35px 48px 40px;
  overflow: hidden;
  flex: 1;
}

#profile-editor-save {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);

  width: max-content;

  background-color: var(--primary-color) !important;
  color: var(--invert-text);
  font-size: 2ch;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
}

.profile-edit-button {
  background-color: #271d66;
}

.editor-input-item {
  display: flex;
  flex-direction: column;
}

.editor-input-item input,
.editor-input-item select,
.editor-input-item textarea {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--main-text);
  flex-grow: 1;
  font-size: 1.6ch;
  margin: 10px 0;
  outline: none;
  padding: 0.5rem;
}

.edit-profile-body input,
.edit-profile-body select,
.edit-profile-body textarea {
  width: auto;
}

.editor-input-item label {
  color: var(--primary-color);
  font-size: 2ch;
  font-weight: 700;
}

.editor-input-textarea {
  position: relative;
}

/* ----- About Page ----- */



/* .photo .edit-profile-image {
    position: relative;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: 250px;
    height: 250px;
    padding: 0px;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    /* max-width: 200px; */
/* max-height: 200px; */
/* margin: 0px 12.5%; */
/* }  */
