a{
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
}

a:link, a:visited{
    color: rgb(0, 0, 0);
}

a:hover{
    opacity: 1;
}

h1{
    float: left;
    font-style: oblique;
    font-size: 3vw;
}

h2{
    margin-top: 0;
}

h3{
    border-top: 2px solid black;
    margin: 8px;
}

body{
    margin: 0;
}

.sideBar{
    width: 17%;
    height: 100%;
    background-color: lightgray;
    padding: 2vw;
    font-size: 2vw;

    position: fixed;
    top: 0;
    left: 0;
}

.sideIcons{
    width: 15%;
    margin: 2px;

}

.mainContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: none;
    margin-left: 25%;
}

.header{
    display: flex;
    flex-direction: row;
    width: auto;

}

.searchCreate{
    width: 80%;
    height: auto;
    float: right;
}

.searchButton{
    height: 5vw;
    width: auto;
    float: right;
    margin: 10px;
}

.create{
    float: right;
    align-self: center;
    font-size: 2vw;
}

.rightSide{
    display: flex;
    flex-direction: column;
}

.project{
    background-color: beige;
    border: 5px dashed black;
    border-radius: 5px;
    padding: 5px;
    width: 90%;

    margin: 20px;
}

.projectImg{
    width: 8vw;
    border: 2px solid black;
    border-radius: 50px;
    float: left;

    margin: 20px;
}

.name{
    font-size: 3vw;
    float: left;

    margin: 5px;
}

.projectBio{
    font-style: italic;
    font-weight: 600;
    font-size: 2vw;
    color: darkcyan;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.tag{
    border: 5px solid burlywood;
    border-radius: 20px;

    padding: 5px;
}

.adminImg{
    width: 4vw;
    height: auto;
    margin: 3px;
}