/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
------------------------------------------------------------------------------------------------
Discover and Meet page style rules
------------------------------------------------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

#discover-header {
  display: grid;
  align-items: center;
  margin-right: 50px;
  grid-template: 'search blank buttons' 70px / auto 1fr 140px;
}

#discover-searchbar {
  grid-area: search;
  height: auto;
}

#discover-header-buttons {
  grid-area: buttons;
}

/*Arrangement of button sizes may need adjustment, current solution is too hard-coded*/
#discover-header-buttons button {
  background-color: var(--primary-color);
  border-radius: 40px;
  border: none;
  margin-left: 10px;
  height: auto;
  width: auto;
  padding-top: 4px;
}

#discover-header-buttons img {
  filter: none;
  height: auto;
  margin: 2px;
}

#discover-hero {
  width: auto;
  height: 20vw;
  margin: 0 50px;
  background-image: var(--hero-gradient);
  border-radius: 10px;
}

#profile-hero,
#project-hero {
  display: grid;
  border-radius: 10px;
  font-size: 1vw;
  height: calc(20vw - 20px);
  padding-bottom: 20px;
  grid-template-areas: 'blurb1 blurb2 blurb3';
}

.profile-hero-blurb,
.project-hero-blurb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#profile-hero-blurb-1,
#project-hero-blurb-1 {
  grid-area: blurb1;
  position: relative;
  width: 100%;
  height: 20vw;

  div {
    width: 70%;
    height: 14%;
    position: absolute;
    bottom: 14px;
    text-align: center;
  }

  img {
    height: 20vw;
  }
}

#profile-hero-blurb-2,
#project-hero-blurb-2 {
  grid-area: blurb2;
  position: relative;

  width: 100%;
  height: 20vw;

  .panel-text {
    width: 95%;
    height: 24%;
    position: absolute;
    bottom: 10px;
    text-align: center;

    #spacer {
      height: 10px;
      width: 100px;
    }
  }

  h2 {
    color: var(--primary-color);
    width: 400px;
    position: absolute;
    top: 0;
    margin: 0;
    text-align: center;
  }

  img {
    height: 20vw;
  }
}

#profile-hero-blurb-3,
#project-hero-blurb-3 {
  grid-area: blurb3;
  position: relative;

  width: 100%;
  height: 20vw;

  div {
    width: 74%;
    height: 20%;
    position: absolute;
    bottom: 14px;
    text-align: center;
  }

  img {
    height: 20vw;
  }
}

.profile-hero-highlight,
.project-hero-highlight {
  font-weight: bold;
  color: var(--primary-color);
}

#discover-filters {
  width: auto;
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#discover-tag-filters-container {
  width: calc(100% - 40px);
  position: relative;
}

.filters-scroller {
  /* position: absolute;
  top: 0;
  height: 100%; */
  font-size: medium;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  font-size: 25px;
}

#filters-left-scroll {
  left: 0;
  text-align: left;
  background-image: linear-gradient(to right, var(--bg-color) 30%, #00000000 70%);
}

#filters-right-scroll {
  right: 0;
  text-align: right;
  background-image: linear-gradient(to right, #00000000 30%, var(--bg-color) 70%);
}

#discover-tag-filters {
  height: auto;
  width: 100%;
  display: flex;
  /* gap: 14px; */
  overflow-x: scroll;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.discover-tag-filter {
  color: var(--main-text);
  height: 40px;
  padding: 5px 20px;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0 5px;
  border-radius: 30px;
  flex-shrink: 0;
}

#discover-more-filters-container {
  display: flex;
  justify-content: end;
  flex: 1 1 auto;
}

.discover-tag-filter:hover,
#discover-more-filters:hover {
  background-color: var(--header-color);
  color: var(--main-text);
}

.discover-tag-filter-selected {
  background-color: var(--primary-color);
  color: var(--invert-text);
  font-weight: bold;
}

.discover-tag-filter-selected:hover {
  background-color: var(--primary-color);
  color: var(--invert-text);
}

#discover-more-filters {
  height: 40px;
  width: 40px;
  padding: 5px;
  background: none;
  border: none;
  border-radius: 30px;

  img {
    height: 30px;
    width: 30px;
  }
}

.filter-category {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  min-height: 140px;
}

.filter-category hr {
  width: 90%;
}

.filter-category h2 {
  margin: 10px 0;
}

.filter-category .search-wrapper {
  display: block;
  margin: 0;
}

.filter-category .search-bar {
  float: none;
  width: min-content;
  margin: 10px 0;
}

.filter-category-tags {
  display: flex;
  height: auto;
  overflow: auto;
  flex-flow: wrap;
  gap: 8px 0;
}

#filter-popup-projects {
  width: auto;
  max-width: 900px;
  height: 70vh;
  max-height: 620px;
  margin: 40px;
  display: grid;
  grid-template:
    'categories' 1fr
    'genres' 1fr
    'misc' 1fr /
    auto;
  overflow: auto;
}

#filter-popup-categories {
  grid-area: categories;
}

#filter-popup-genres {
  grid-area: genres;
}

#filter-popup-misc {
  grid-area: misc;
}

#filter-popup-profiles {
  display: grid;
  height: 70vh;
  min-height: 420px;
  max-height: 620px;
  grid-template:
    'devskills roles' 1fr
    'devskills roles' 1fr
    'devskills majors' 1fr
    'desskills majors' 1fr
    'desskills softskills' 1fr
    'desskills softskills' 1fr /
    auto auto;
  gap: 10px;
  margin: 0 10px;
  overflow: auto;
}

#filter-popup-dev-skills {
  grid-area: devskills;
}

#filter-popup-des-skills {
  grid-area: desskills;
}

#filter-popup-roles {
  grid-area: roles;
}

#filter-popup-majors {
  grid-area: majors;
}

#filter-popup-soft-skills {
  grid-area: softskills;
}

#filter-popup-profiles div {
  width: auto;
  max-width: 600px;
}

#filter-popup-apply {
  height: 30px;
  width: 80px;
  margin: 10px auto;
  display: block;
  font-size: medium;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--main-text);
  border: none;
  border-radius: 30px;
}

/*tag rules may be used for buttons elsewhere, but will stay here for the time being*/
.tag-button {
  border-radius: 30px;
  border: none;
  padding: 5px 15px;
  font-size: medium;
  /* margin: 0 4px; */
  flex-shrink: 0;
}

/* selected tags */

.tag-button-red-selected {
  background-color: var(--tag-red-selected);
  border: 2px solid var(--tag-red-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-orange-selected {
  background-color: var(--tag-orange-selected);
  border: 2px solid var(--tag-orange-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-yellow-selected {
  background-color: var(--tag-yellow-selected);
  border: 2px solid var(--tag-yellow-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-green-selected {
  background-color: var(--tag-green-selected);
  border: 2px solid var(--tag-green-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-blue-selected {
  background-color: var(--tag-blue-selected);
  border: 2px solid var(--tag-blue-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-purple-selected {
  background-color: var(--tag-purple-selected);
  border: 2px solid var(--tag-purple-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-grey-selected {
  background-color: var(--tag-grey-selected);
  border: 2px solid var(--tag-grey-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

/* unselected tags */

.tag-button-red-unselected {
  background-color: var(--tag-red-unselected);
  border: 2px solid var(--tag-red-unselected-border);
  color: var(--tag-text-unselected-red);

  .fa {
    color: var(--tag-text-unselected-red) !important;
  }
}

.tag-button-red-unselected:hover {
  background-color: var(--tag-red-selected);
  border: 2px solid var(--tag-red-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-orange-unselected {
  background-color: var(--tag-orange-unselected);
  border: 2px solid var(--tag-orange-unselected-border);
  color: var(--tag-text-unselected-orange);

  .fa {
    color: var(--tag-text-unselected-orange) !important;
  }
}

.tag-button-orange-unselected:hover {
  background-color: var(--tag-orange-selected);
  border: 2px solid var(--tag-orange-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-yellow-unselected {
  background-color: var(--tag-yellow-unselected);
  border: 2px solid var(--tag-yellow-unselected-border);
  color: var(--tag-text-unselected-yellow);

  .fa {
    color: var(--tag-text-unselected-yellow) !important;
  }
}

.tag-button-yellow-unselected:hover {
  background-color: var(--tag-yellow-selected);
  border: 2px solid var(--tag-yellow-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-green-unselected {
  background-color: var(--tag-green-unselected);
  border: 2px solid var(--tag-green-unselected-border);
  color: var(--tag-text-unselected-green);

  .fa {
    color: var(--tag-text-unselected-green) !important;
  }
}

.tag-button-green-unselected:hover {
  background-color: var(--tag-green-selected);
  border: 2px solid var(--tag-green-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-blue-unselected {
  background-color: var(--tag-blue-unselected);
  border: 2px solid var(--tag-blue-unselected-border);
  color: var(--tag-text-unselected-blue);

  .fa {
    color: var(--tag-text-unselected-blue) !important;
  }
}

.tag-button-blue-unselected:hover {
  background-color: var(--tag-blue-selected);
  border: 2px solid var(--tag-blue-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-purple-unselected {
  background-color: var(--tag-purple-unselected);
  border: 2px solid var(--tag-purple-unselected-border);
  color: var(--tag-text-unselected-purple);

  .fa {
    color: var(--tag-text-unselected-purple) !important;
  }
}

.tag-button-purple-unselected:hover {
  background-color: var(--tag-purple-selected);
  border: 2px solid var(--tag-purple-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button-grey-unselected {
  background-color: var(--tag-grey-unselected);
  border: 2px solid var(--tag-grey-unselected-border);
  color: var(--tag-text-unselected-grey);

  .fa {
    color: var(--tag-text-unselected-grey) !important;
  }
}

.tag-button-grey-unselected:hover {
  background-color: var(--tag-grey-selected);
  border: 2px solid var(--tag-grey-selected);
  color: var(--tag-text-selected);

  .fa {
    color: var(--tag-text-selected) !important;
  }
}

.tag-button:hover {
  cursor: pointer;
  transition: 0.2s;
}

/* .tag-button-selected {
  filter: saturate(250%) contrast(120%);
} */

#discover-panel-box {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px; */
  margin: 0 50px 50px 50px;
}

/*
------------------------------------------------------------------------------------------------
Discover image carousel style rules
------------------------------------------------------------------------------------------------
*/

#discover-carousel-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#discover-carousel-left,
#discover-carousel-right {
  border: none;
  width: 60px;
  height: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

#discover-carousel-left img,
#discover-carousel-right img {
  width: 30px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  /*specific filters obtained through https://codepen.io/sosuke/pen/Pjoqqp */
  /*filter:invert(78%) sepia(100%) saturate(2099%) hue-rotate(182deg) brightness(98%) contrast(106%);*/
  /* filter: invert(10%) sepia(51%) saturate(3855%) hue-rotate(241deg) brightness(100%) contrast(98%); */
}

#discover-carousel-left img {
  transform: rotateY(180deg);
}

#discover-carousel-content {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}

.discover-carousel-item {
  display: grid;
  text-align: left;
  column-gap: 20px;
  grid-template:
    'image title title' 70px
    'image desc desc' auto
    'image blank button' 60px /
    3fr 2fr auto;
  background-color: var(--background-light);
  width: 100%;
  min-width: 100%;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.discover-carousel-image {
  grid-area: image;
  object-fit: contain;
  height: 20vw;
  width: 100%;
}

.discover-carousel-title {
  grid-area: title;
  margin-top: 20px;
  font-size: 4ch;
  font-weight: 700;
  color: var(--primary-color);
}

.discover-carousel-description {
  grid-area: desc;
}

.discover-carousel-link {
  grid-area: button;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  font-size: 2ch;
  font-weight: 700;
  margin: 10px;
  margin-top: 240px;
}

.discover-carousel-link:hover {
  background-color: var(--purple-light);
}

.discover-carousel-link img {
  transform: rotateY(180deg);
  width: 30px;
  /* filter: invert(10%) sepia(51%) saturate(3855%) hue-rotate(241deg) brightness(100%) contrast(98%); */
}

#discover-carousel-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
