:root {
    --orange: #F35835;
    --orange-hover: #d83410;
    --green: #97E5AB;
    --blue: #99E6EA;
    --purple: #B1A2DB;
    --medGray: #E3E3E3;
    --lightGray: #EEEEEE;
    --gray: #969696;
    --darkGray: #414141;
    --white: #FBFBFB;
  }

.MakeAvatar {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    min-width: fit-content;
    max-width: 1000px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
  }
  
  #customize-title {
    font-size: 28px;
    color: var(--orange);
    width: 250px;
  }
  
  /*
    Avatar selection
    https://www.w3schools.com/howto/howto_js_slideshow.asp
  */
  #avatar-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  
    margin-top: 10px;
  
    width: 480px;
    height: 240px;
  }
  
  #avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .avatar-slide {
    display: none;
    max-height: 200px;
    width: 220px;
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* The dots/bullets/indicators */
  .slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--medGray);
    border: none;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  
    position: relative;
    top: 20px;
  }
  
  .active,
  .slide-dot:hover {
    background-color: var(--orange);
  }
  
  .btn-icon {
    width: 25px;
  }
  
  .left-btn {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .arrowBtn {
    cursor: pointer;
    border: none;
    height: 45px;
    width: 45px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .myAvatar {
    /* center  */
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  .animals {
    border-radius: 4px;
    object-fit: cover;
    height: 220px;
    width: 220px;
  
    border: 2px solid var(--medGray);
  }
  
  /*
    Hats
  */
  
  #hat-container {
    border: 1px solid black;
    position: fixed;
    width: 220px;
    height: 222px;
  
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .hat {
    width: 100%;
    margin-bottom: 50px;
  }
  
  /* .cat-hat,
  .dog-hat {
    margin-right: 6px;
    margin-bottom: 20px;
  } */
  
  .frog-hat {
    margin-bottom: 40px;
  }
  
  /* .otter-hat {
    margin-bottom: 10px;
    margin-right: 110px;
  }
  
  .dragon-hat {
    margin-bottom: 40px;
    margin-left: 50px;
    width: 40px;
  }
  
  .toad-hat {
    margin-bottom: 5px;
    margin-right: 4px;
  } */
  
  /*
    Avatar Customization
  */
  
  #avatar-customization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    margin-top: 10px;
  
    max-width: 700px;
    height: 350px;
  }
  
  #customize-options {
    display: flex;
    flex-direction: column;
  }
  
  #colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  #hats {
    gap: 10px;
  }
  
  .color-option img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    object-fit: cover;
    border: 2px solid var(--medGray);
    border-radius: 4px;
  }
  
  .color-option:hover,
  .hat-option:hover {
    cursor: pointer;
  }
  
  .color-option:active,
  .hat-option:active {
    transform: scale(0.9);
  }
  
  .hat-option {
    width: 80px;
    height: 80px;
    border: 2px solid var(--medGray);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    overflow: hidden;
    /* object-fit: contain; */
  }
  
  .hat-option img {
    width: 250px;
    object-fit: contain;
    /* margin: auto; */
    border: 1px solid palevioletred;
  }
  
  /* 
    Tabs 
  */
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
  
    border-radius: 2px 2px 0px 0px;
    max-width: 540px;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    outline: 2px solid var(--medGray);
    background-color: var(--lightGray);
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 540px;
    height: 200px;
  
    border-radius: 0px 0px 2px 2px;
    padding: 10px;
    background-color: white;
    outline: 2px solid var(--medGray);
  }
  
  .tab-links {
    cursor: pointer;
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 25px;
    transition: color 0.2s ease;
    background-color: white;
    border: 2px solid var(--medGray);
  }
  
  .tab-links:hover {
    border-color: rgb(197, 197, 197);
  }
  
  .tab-links.active-link {
    border: 2px solid var(--orange);
  }
  
  .tab-contents {
    display: none;
  }
  
  .active-tab {
    display: flex;
  }
  
  /* 
    Create button
  */
  #createBtn {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 100px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    background-color: var(--orange);
  }
  
  #createBtn:hover {
    background-color: white;
    color: var(--orange);
    border: 2px solid var(--orange);
  }
  
  #createBtn:active {
    transform: scale(0.95);
  }
  
  @media screen and (max-width: 650px){
  
    .options, .tabs, #avatar-select {
      width: 400px;
    }
  
    .color-option img {
      width: 100px;
      height: 100px;
    }
  
    .hat-option {
      width: 60px;
      height: 60px;
    }
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  @media screen and (max-width: 500px){
    body {
      padding: 0px;
    }
  
    .MakeAvatar {
      box-shadow: none;
      width: 100%;
      height: 100%;
    }
  }
  
  @media screen and (max-width: 400px){
    body {
      padding: 0px;
    }
  
    .MakeAvatar {
      box-shadow: none;
      width: 100%;
      height: 100%;
    }
  
    #customize-title {
      font-size: 24px;
    }
  
    .slide-dot {
      height: 10px;
      width: 10px;
      top: 0px;
    }
  
    #avatar-select {
      gap: 10px;
      height: 180px;
    }
  
    .arrowBtn {
      height: 35px;
      width: 35px;
    }
  
    .btn-icon {
      width: 20px;
    }
  
    .animals{
      height: 160px;
      width: 160px;
    }
  
    #avatar-customization {
      height: 300px;
      margin-top: 0px;
    }
  
    .tabs {
      height: 40px;
    }
  
    .tab-links {
      width: 40px;
      height: 35px;
    }
    
    .tab-links img {
      width: 35px;
      height: 35px;
    }
  
    .icon {
      width: 20px;
      height: 20px;
    }
  
    .options, .tabs, #avatar-select {
      width: 300px;
    }
  
    .color-option img {
      width: 80px;
      height: 80px;
    }
  
    .hat-option {
      width: 50px;
      height: 50px;
    }
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }