:root {
  --orange: #F35835;
  --medGray: #E3E3E3;
  --lightGray: #EEEEEE;
  --gray: #969696;
}

.avatar-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.avatar-close-btn {
  margin-left: 880px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: fixed;
  top: 80px;
}

.avatar-close-btn img {
  width: 40px;
  height: 40px;
}

.MakeAvatar {
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
  width: 1000px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  z-index: 1;
}

#avatar-customize-title {
  font-size: 28px;
  color: var(--orange);
  width: 250px;
}

/*
    Avatar selection
    https://www.w3schools.com/howto/howto_js_slideshow.asp
  */
#avatar-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;

  margin-top: 10px;

  width: 480px;
  height: 240px;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-slide {
  display: none;
  max-height: 200px;
  width: 220px;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The dots/bullets/indicators */
.avatar-slide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--medGray);
  border: none;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  position: relative;
  top: 20px;
}

.active-avatar,
.avatar-slide-dot:hover {
  background-color: var(--orange);
}

.avatar-btn-icon {
  width: 25px;
}

.avatar-left-btn {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#avatar-arrowBtn {
  cursor: pointer;
  border: none;
  height: 45px;
  width: 45px;
  background: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myAvatar {
  display: flex;
  justify-content: center;
}

.avatar-animals {
  border-radius: 4px;
  object-fit: cover;
  height: 220px;
  width: 220px;

  border: 2px solid var(--medGray);
}

/*
    Hats
  */

#avatar-hat-container,
#avatar-outfit-container,
#avatar-accessory-container {
  position: fixed;
  width: 220px;
  height: 222px;

  display: flex;
  justify-content: center;
  align-items: end;
}

.avatar-hat,
.avatar-clothes,
.avatar-accessories {
  width: 100%;
}

.avatar-frog-hat {
  position: relative;
  top: 10px;
}


/*
    Avatar Customization
  */

#avatar-customization {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 10px;

  max-width: 700px;
  height: 350px;
}

#avatar-customize-options {
  display: flex;
  flex-direction: column;
}

.avatar-icon {
  width: 40px;
  height: 40px;
}

#avatar-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#avatar-hats,
#avatar-clothes,
#avatar-accessories {
  gap: 10px;
}

.avatar-color-option img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  border: 2px solid var(--medGray);
  border-radius: 4px;
}

.avatar-color-option:hover,
.avatar-hat-option:hover,
.avatar-clothes-option:hover,
.avatar-accessory-option:hover {
  cursor: pointer;
}

.avatar-color.active-color,
.avatar-hat-option.active-hat,
.avatar-clothes-option.active-clothes,
.avatar-accessory-option.active-accessory {
  border: 2px solid var(--orange);
}

.avatar-hat-option,
.avatar-clothes-option,
.avatar-accessory-option {
  width: 80px;
  height: 80px;
  border: 2px solid var(--medGray);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.avatar-hat-option img,
.avatar-clothes-option img,
.avatar-accessory-option img {
  width: 250px;
  object-fit: contain;
  /* margin: auto; */
  /* border: 1px solid palevioletred; */
}

/* 
    Tabs 
  */
.avatar-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;

  border-radius: 2px 2px 0px 0px;
  max-width: 540px;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  outline: 2px solid var(--medGray);
  background-color: var(--lightGray);
}

.avatar-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 20px;
  width: 540px;
  height: 200px;

  border-radius: 0px 0px 2px 2px;
  padding: 10px;
  background-color: white;
  outline: 2px solid var(--medGray);
  overflow-y: auto;
}

.avatar-tab-links {
  cursor: pointer;
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 25px;
  transition: color 0.2s ease;
  background-color: white;
  border: 2px solid var(--medGray);
}

.avatar-tab-links:hover {
  border-color: rgb(197, 197, 197);
}

.avatar-tab-links.avatar-active-link {
  border: 2px solid var(--orange);
}

.avatar-tab-contents {
  display: none;
}

.avatar-active-tab {
  display: flex;
}

/* 
    Save button
*/
#avatar-editBtn,
#avatar-createBtn {
  border: none;
  border-radius: 14px;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 800;
  background-color: white;
  color: var(--orange);
  border: 2px solid var(--orange);
}

#avatar-editBtn:hover,
#avatar-createBtn:hover {
  color: white;
  background-color: var(--orange);
}

#avatar-editBtn:active,
#avatar-createBtn:active {
  transform: scale(0.95);
}

#avatar-backBtn {
  border: none;
  border-radius: 14px;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--lightGray);
  color: black;
  border: 2px solid var(--lightGray);
}

#avatar-backBtn:hover {
  background-color: var(--medGray);
  border: 2px solid var(--medGray);
}

#avatar-backBtn:active {
  transform: scale(0.95);
}

#avatar-create {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1020px) {
  .MakeAvatar {
    width: 800px;
  }

  .avatar-close-btn {
    margin-left: 700px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 820px) {
  .MakeAvatar {
    width: 550px;
  }

  .avatar-close-btn {
    margin-left: 480px;
    margin-right: 20px;
  }

  .avatar-options,
  .avatar-tabs,
  #avatar-select {
    width: 400px;
  }

  .avatar-color-option img {
    width: 100px;
    height: 100px;
  }

  .avatar-hat-option {
    width: 60px;
    height: 60px;
  }

  .avatar-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .avatar-close-btn {
    margin-left: 480px;
    margin-right: 40px;
  }

  body {
    padding: 0px;
  }

  .MakeAvatar {
    box-shadow: none;
    width: 100%;
    /* height: 100%; */
  }
}

@media screen and (max-width: 400px) {
  .avatar-close-btn {
    margin-left: 480px;
    margin-right: 10px;
  }

  body {
    padding: 0px;
  }

  .MakeAvatar {
    box-shadow: none;
    width: 100%;
    /* height: 100%; */
  }

  #avatar-customize-title {
    font-size: 24px;
  }

  .avatar-slide-dot {
    height: 10px;
    width: 10px;
    top: 0px;
  }

  #avatar-select {
    gap: 10px;
    height: 180px;
  }

  .avatar-arrowBtn {
    height: 35px;
    width: 35px;
  }

  .avatar-btn-icon {
    width: 20px;
  }

  .avatar-animals {
    height: 160px;
    width: 160px;
  }

  #avatar-customization {
    height: 300px;
    margin-top: 0px;
  }

  .avatar-tabs {
    height: 40px;
  }

  .avatar-tab-links {
    width: 40px;
    height: 35px;
  }

  .avatar-tab-links img {
    width: 35px;
    height: 35px;
  }

  .avatar-icon {
    width: 20px;
    height: 20px;
  }

  .avatar-options,
  .avatar-tabs,
  #avatar-select {
    width: 300px;
  }

  .avatar-color-option img {
    width: 80px;
    height: 80px;
  }

  .avatar-hat-option {
    width: 50px;
    height: 50px;
  }

  .avatar-icon {
    width: 40px;
    height: 40px;
  }
}