:root {
    --orange: #F76902;
    --orange-hover: #DE6B17;
    --MOBILE_BREAKPOINT: 800px;
}

.project-card, .profile-card {
    width: 60%;
    max-width: 765px;
    max-height: 265px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px lightblue;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
    padding: 2%;
    margin: 2.5% auto;
    transition: 1s;
}

.project-card:hover, .profile-card:hover {
    transform: scale(1.05);
}

#project-card-body, #profile-card-body {
    margin-left:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-rows: 10% 50% 40%;
    /* align-items: center; */
    font-size: 1vw;
}



#project-card-body > *, #profile-card-body > *{
    flex: 1;
}

#project-card-profile-picture, #profile-card-profile-picture {
   width: 100%;
}

#project-card-name, #profile-card-name {
    text-align: center;
    margin-bottom: 0;
}

#project-card-description, #profile-card-description {
    margin-top: 0;
    max-width: 450px;
    overflow: hidden;
}

#project-card-tag-wrapper, #profile-card-tag-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 450px;
}

#profile-card-pronouns {
    margin-top: 0%;
    text-align: center;
}

.tag {
    display: flex;
    align-items: center;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
    padding: 3px 15px;
    max-height: 25px;
}

.tag-name {
    margin: 0;
}

.page-title {
    margin-bottom: 0;
}

.discover-button {
    border-radius: 10px;
    border: 2px solid var(--orange);
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.6vw;
    margin: 1vw;
    cursor: pointer;
}

.discover-button-inactive {
    background-color: white;
    color: var(--orange);
}

.discover-button-inactive:hover {
    background-color: rgb(126, 124, 124);
}

.discover-button-active {
    background-color: var(--orange);
    color: white;
}

.discover-button-active:hover {
    background-color: var(--orange-hover);
    border-color: var(--orange-hover);
}

#discover-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-align: left;
    margin-left: 2vw;
    width: 80%;
    
}

.search-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 60px;
    width: 40%;

    margin-left: auto;
}

.search-bar{
    padding: 2px;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 2vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.search-input{
    background: none;
	color: inherit;
	border: none;
	padding: 4px;
	font: inherit;
	cursor: text;
	outline: inherit;
}

.search-button{
    background: none;
	color: inherit;
	border: none;
	padding: 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navIcon {
    width: 32px;
    height: 32px;
}


.SideBarContainer{
    width: 220px;
    height: 100vh;
    border: solid black 2px;
    position:fixed;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
}
.ProfileContainer{
    width: 220px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer h1{
    font-weight: bold;
    font-size: 2vw;
    height: 10vh;
}

.containerButtonSideBar{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.containerButtonSideBar button{
    width: 220px;
    height: 6vh;
    background-color: white;
    border: solid lightgrey 1px;
    cursor: pointer;
    font-size:larger;
    text-align:left;
    padding-left:calc(8vw / 2);
    padding-right: auto;
}

.containerButtonSideBar button:hover{
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.dot{
  height: 10vw;
  width: 10vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: solid black 2px;

}

h1{
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
}

.Logout{
    display: flex;
    align-items: center;
    justify-content: center;

}

.Logout button{
    background-color: var(--orange);
    color: white;    
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 8vw;
    height: 4vh;
}

.Logout button:hover{
    transform: scale(1.1);
    transition-duration: 0.25s;
    cursor: pointer;
}

@media only screen and (max-width: var(--MOBILE_BREAKPOINT)){

    .SideBarContainer{
        width: 100vw;
        height: 100px;
        border: solid black 2px;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
    }

    .ProfileContainer{
        width: 15vw;
    }

    .containerButtonSideBar{
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .containerButtonSideBar button{
        width: 20vw;
        padding-left: calc((100vw - 160px) / 10);
        padding-right: auto;
    }
}


