:root {
    --orange: #F76902;
    --orange-hover: #DE6B17;
}

#notif-popup{
    position: absolute;
    width: 30vw;
    height: 15vw;
    background-color: #D0D0D0;
    z-index: 5;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: auto;

    right: 30px;
}

.notif-popup-boxes{
    border: 2px dashed black;
    margin: 5px 0;
}

.notif-button-wrapper{
    position: relative;
    float: right;
}

.notif-button-icon{
    width: 4vw;
    height: auto;
}

.hidden{
    display: none;
}

.discover-card{
    width: 60%;
    max-width: 765px;
    max-height: 265px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px lightblue;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
    padding: 2%;
    margin: 2.5% auto;
    transition: 1s;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.discover-card:hover, .profile-card:hover {
    transform: scale(1.05);
}

#discover-card-body, #profile-card-body {
    margin-left:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-rows: 10% 50% 30% 10%;
    /* align-items: center; */
    font-size: 0.8rem;
}



#discover-card-body > *, #profile-card-body > *{
    flex: 1;
}

#discover-card-profile-picture, #profile-card-profile-picture {
   width: 100%;
   border: 2px solid black;
   border-radius: 100%;
}

#discover-card-name, #profile-card-name {
    text-align: center;
    margin-bottom: 0;
}

#discover-card-description, #profile-card-description {
    margin-top: 0;
    max-width: 450px;
    /* overflow: hidden; */
}

#discover-card-tag-wrapper, #profile-card-tag-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 450px;
}

#profile-card-pronouns {
    margin-top: 0%;
    text-align: center;
}

.tag {
    display: flex;
    align-items: center;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
    padding: 0.5vw 1vw;
    max-height: 25px;
}

.tag-name {
    margin: 0;
    font-size: 0.8rem;
}

.page-title {
    margin-bottom: 0;
    font-size: 30px;
}

.discover-button {
    border-radius: 10px;
    border: 2px solid var(--orange);
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.6vw;
    margin: 1vw;
    cursor: pointer;
}

.discover-main-content{
    margin-left: 40px;
}

.discover-button-inactive {
    background-color: white;
    color: var(--orange);
}

.discover-button-inactive:hover {
    background-color: rgb(126, 124, 124);
}

.discover-button-active {
    background-color: var(--orange);
    color: white;
}

.discover-button-active:hover {
    background-color: var(--orange-hover);
    border-color: var(--orange-hover);
}

#discover-button-wrapper {
    display: grid;
    flex-direction: row;
    justify-self: center;
    text-align: left;
    margin-left: 2vw;
    width: 100%;
    grid-template-columns: 14% 14% 72%;
}

.search-wrapper{
    display: flex;
    flex-direction: row;
    align-content: right;
    justify-self: end;
    height: auto;
    /* width: 40%; */
    margin: 1vw 50px;
}

#discover-button-wrapper > * {
    max-height: 50px;
}

.search-bar{
    padding: 2px;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 1vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.search-input{
    background: none;
	color: inherit;
	border: none;
	padding: 4px;
	font: inherit;
	cursor: text;
	outline: inherit;
}

.search-button, #notif-button{
    background: none;
	color: inherit;
	border: none;
	padding: 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navIcon {
    width: 32px;
    height: 32px;
}


.SideBarContainer{
    width: 220px;
    height: 100vh;
    /* border: solid black 2px; */
    position:fixed;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
}

.SideBarContainer h1{
    width: 220px;
    height: 5vh;
    font-size: 2vw;
}

.ProfileContainer{
    width: 220px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer h1{
    font-weight: bold;
    font-size: 30px;
    height: 10vh;
}

.containerButtonSideBar{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.containerButtonSideBar button{
    width: 220px;
    height: 6vh;
    background-color: white;
    border: none;
    outline: solid lightgrey 1px;
    cursor: pointer;
    font-size:larger;
    text-align:left;
    padding-left: 34px;
    padding-right: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.containerButtonSideBar button:hover{
    /* transform: scale(1.1); */
    transition-duration: 0.25s;
    background-color: #eeeeee;
}

.dot{
  height: 125px;
  width: 125px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: solid black 1px;

}

.Logout{
    display: flex;
    align-items: center;
    justify-content: center;

}

.Logout button{
    background-color: var(--orange);
    color: white;    
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: solid var(--orange) 2px;
    font-weight: 900;
}

.Logout button:hover{
    /* transform: scale(1.1); */
    transition-duration: 0.25s;
    background-color: white;
    color: var(--orange);
    outline: solid var(--orange) 2px;
    cursor: pointer;
}

@media only screen and (max-width: 800px){

    #discover-button-wrapper {
        grid-template-columns: 20% 20% 60%;
    }

    .search-bar {
        font-size: 0.5rem;
    }

    .discover-button {
        font-size: 0.8rem;
    }
    
    .tag-name {
        font-size: 2vw;
    }
    
    .discover-card {
        width: 90%;
        max-width: 90%;
    }

    .sideBarContainer{
        width: 100vw;
        height: 50px;
        /*border: solid black 2px;*/
        position: fixed;
        bottom:0;
        background-color: white;
        z-index: 1;
        /*box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;*/
    }

    .ProfileContainer{
        width: 15vw;
    }

    .containerButtonSideBar{
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .containerButtonSideBar button{
        width: 20vw;
        height: 50px;
        padding-left: calc((100vw - 160px) / 10);
        padding-right: auto;
    }
}

/* Project page style rules */

#project-page{
    padding: 0px 15px;
    width: calc(100% - 250px);
}

#project-info{
    display: grid;
    grid-template:  1fr 1fr / .2fr 1.5fr 400px;
    grid-template-areas: 'picture header listing'
                         'blank desc listing'
}

#project-info-member{
    display: grid;
    grid-template: 1fr 1fr / .2fr 1fr 200px 400px;
    grid-template-areas: 'picture header buttons listing'
                         'blank desc buttons listing';
}

#member-buttons{
    grid-area:buttons;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin: 15px 20px;
}

@media only screen and (max-width: 800px){
    #project-page{
        width:calc(100% - 30px);
    }

    #project-info{
        display:grid;
        grid-template:  1fr .5fr 1fr / .2fr 2fr;
        grid-template-areas: 'picture header'
                             'desc desc'
                             'listing listing';
    }

    #project-info-member{
        grid-template: 1fr .5fr 1fr / .2fr 2fr;
        grid-template-areas: 'picture header'
                             'buttons buttons'
                             'desc desc'
                             'listing listing';
    }

    #member-buttons{
        flex-direction: row;
        align-items:center;
    }

    #virtual-space-entrance{
        width: 40vw;
        max-width: 200px;
    }

    #more-options-popup{
        right:16px;
    }
}

.orange-button{
    background-color: var(--orange);
    color:white;
    font-size:large;
    border:none;
    cursor:pointer;
    margin: 10px;
}

.orange-button:hover{
    background-color: var(--orange-hover);
}

.white-button{
    background-color:white;
    color:black;
    border:none;
    cursor:pointer;
}

.white-button:hover{
    background-color:#D0D0D0;
}

#return-button-container{
    text-align:left;
}

#return-button{
    font-weight:bold;
    font-size:larger;
    height:40px;
    margin-bottom:10px;
}

#project-picture{
    width: 96px;
    height: 96px;
    grid-area: picture;
}

#project-header{
    grid-area: header;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#header-buttons{
    display:flex;
    align-items:center;
}

#member-buttons button{
    border:1px solid #D0D0D0;
}

#virtual-space-entrance{
    height: 80px;
}

#make-post-button{
    height: 60px;
}

#more-options-popup{
    position:absolute;
    background-color:white;
    box-shadow: 2px 2px 5px black;
    
    width: 200px;
    height: 100px;
}

#more-options-popup button{
    display:block;
    border: 1px solid rgb(209, 209, 209);
    width: 90%;
    height: 40%;
    margin: 2.5% auto;
}

.hide{
    display:none;
}

.show{
    display:block;
}

#follow-project{
    width: 100px;
    height: 40px;
}

#project-desc{
    grid-area: desc;
    text-align: left;
}

#project-listings{
    grid-area: listing;
    box-shadow: 0px 4px 10px grey;
    margin: 20px 60px;
    padding: 0px 10px;
}

#interested-button{
    background-color:white;
    color:black;
    border: 2px solid grey;
    border-radius: 3px;
    width: 50%;
    margin:10px;
}

#interested-button:hover{
    background-color:#D0D0D0;
}

#member-divider hr{
    display:inline-block;
    width:calc((100% - 140px)/2);
}

#member-divider span{
    margin: 0px 24px;
}

#project-members{
    display: flex;
    overflow-x: auto;
}

.project-member{
    width: 200px;
    min-width: 200px;
}

.project-member img{
    width: 64px;
}

.member-role{
    color:#F76902;
}

#project-posts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2vw;
    justify-content:space-around;
}

.project-post{
    box-shadow: 5px 5px 10px grey;
    width: 95%;
    max-width: 440px;
    height: 520px;
    padding: 10px;
}

.project-post img{
    width: 85vw;
    height: 85vw;
    max-width: 420px;
    max-height: 420px;
}

.post-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.post-content button{
    background-color:white;
    width: 48px;
    height: 48px;
}

.post-content button:hover{
    background-color:gray;
}

.post-content img{
    width: 32px;
    height: 32px;
}

#settings-cover{
    position:fixed;
    background-color:black;
    opacity: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#settings-window{
    position:fixed;
    background-color: white;
    width: 80vw;
    height: 80vh;
    opacity: 100%;
    top: 10vh;
    left: 10vw;
    z-index: 1;
}

#settings-tabs{
    display:flex;
    margin:0 50px;
    gap: 30px;
}

.tab{
    background-color:white;
    color:black;
    border:none;
    cursor:pointer;
}

.tab-selected{
    background-color:white;
    color:black;
    border:none;
    cursor:pointer;
    font-weight:bolder;
}

#delete-project{
    margin-left: auto;
    color: red;
    border: 2px solid red;
}

#settings-content{
    margin: 0 15%;
}

#settings-close{
    position:absolute;
    top: 10px;
    right: 10px;
}

#settings-cancel{
    position:absolute;
    bottom:50px;
    left:50px;
}

#settings-save{
    position:absolute;
    bottom:50px;
    right:50px;
}

/* project page general settings rules */

#general-settings{
    display:grid;
    grid-template: 1fr 1fr 1fr / 1fr 3fr;
    grid-template-areas: 'image name'
                         'image theme'
                         'pic-edit hiring';
    grid-gap:10px;
    height: 200px;
}

#picture-edit{
    grid-area: image;
    width:64px;
    height:64px;
}

#name-edit{
    grid-area: name;
}

#theme-select{
    grid-area: theme;
}

#edit-button{
    grid-area: pic-edit;
}

#hiring-checkbox{
    grid-area: hiring;
    align-self:center;
}

/* project page member settings rules */

#member-settings-list{
    height: 50vh;
    overflow-y:auto;
}

.member-settings-listing{
    display:flex;
    margin: 10px 0;
    align-items:center;
    gap: 10px;
}

.member-settings-listing img{
    width:48px;
}

.member-settings-listing button{
    height: 50%;
}

.member-settings-more{
    margin-left:auto;
}

.settings-hide{
    display:none;
}

.settings-show{
    display:block;
    position:absolute;
    width: 200px;
    background-color:white;
    box-shadow: 2px 2px 5px black;
    right:10px;
    z-index:2;
}

.settings-show button{
    display:block;
    border: 1px solid rgb(209, 209, 209);
    width: 90%;
    height: 40%;
    margin: 2.5% auto;
}
