:root {
    --orange: #F35835;
    --orange-hover: #d83410;
    --green: #97E5AB;
    --blue: #99E6EA;
    --purple: #B1A2DB;
    --medGray: #E3E3E3;
    --lightGray: #EEEEEE;
    --gray: #969696;
    --darkGray: #414141;
    --white: #FBFBFB;
}

#notif-popup {
    position: absolute;
    width: 30vw;
    height: 15vw;
    background-color: #D0D0D0;
    z-index: 5;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: auto;

    right: 30px;
}

.notif-popup-boxes {
    border: 2px dashed black;
    margin: 5px 0;
}

.notif-button-wrapper {
    position: relative;
    float: right;
}

.notif-button-icon {
    width: 40px;
    height: auto;
    margin: 10px;
}

.notif-header {
    font-weight: 700;
}

.date-sent-header {
    background-color: rgb(238, 238, 238);
}

.hidden {
    display: none;
}

.discover-card,
.endorsement,
.profile-project-card {
    width: 70%;
    max-width: 765px;
    max-height: 265px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px lightblue;
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: left;
    padding: 3%;
    margin: 2.5% auto;
    transition: 1s;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#message-card {
    max-height: 45px;
    grid-template-columns: 10% 90%;
    padding-top: 0;
    padding-bottom: 3.5%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.discover-card:hover .endorsement:hover,
.profile-project-card:hover {
    transform: scale(1.05);
}

#discover-card-body {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-rows: 10% 50% 30% 10%;
    font-size: 0.8rem;
}

#profile-project-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#message-card #discover-card-body {
    margin-top: 0%;
    padding-bottom: 5%;
}

#discover-card-body>* {
    flex: 1;
}

#discover-card-profile-picture,
#profile-project-profile-picture {
    width: 100%;
    border: 2px solid black;
    border-radius: 100%;
}

#profile-project-profile-picture {
    width: 80%;
}

#message-card #discover-card-profile-picture {
    width: 110%;
    margin-top: 15%;
}

#discover-card-name {
    text-align: center;
    margin-bottom: 0;
}

#message-card #discover-card-name {
    text-align: left;
}

#discover-card-name:hover,
#profile-project-name:hover {
    text-decoration: underline;
}

#discover-card-description {
    margin-top: 0;
    max-width: 450px;
}

#discover-card-tag-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    max-width: 450px;
}

#discover-card-pronouns {
    margin-top: 0%;
    text-align: center;
}

.sent-msg {
    text-align: right;
    padding-right: 35%;
}

.recieved-msg {
    text-align: left;
    padding-left: 40%;
}

.sent-msg b,
.recieved-msg b {
    font-size: 16pt;
}

.sent-msg p,
.recieved-msg p {
    margin-bottom: 0;
    margin-top: 5px;
}

.date-stamp {
    font-size: 8pt;
    padding-top: 0;
    margin-top: 0;
    color: rgb(126, 124, 124);
}

.tag {
    display: flex;
    align-items: center;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
    padding: 0.5vw 1vw;
    max-height: 25px;
}

.tag-name {
    margin: 0;
    font-size: 0.8rem;
}

.page-title {
    margin-bottom: 0;
    font-size: 30px;
}

.discover-button {
    border-radius: 10px;
    border: 2px solid var(--orange);
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.6vw;
    margin: 1vw;
    cursor: pointer;
}

.tab-button {
    border: 2px solid lightseagreen;
    border-radius: 5px;
    text-align: center;
    padding: .5vw;
    margin-left: .5vw;
    margin-right: .5vw;
    background-color: white;
}

.active {
    background-color: lightblue;
}

.tab-header {}

.discover-main-content {
    margin-left: 40px;
}

.discover-button-inactive {
    background-color: white;
    color: var(--orange);
}

.discover-button-inactive:hover {
    background-color: rgb(126, 124, 124);
}

.discover-button-active {
    background-color: var(--orange);
    color: white;
}

.discover-button-active:hover {
    background-color: var(--orange-hover);
    border-color: var(--orange-hover);
}

#discover-button-wrapper {
    display: grid;
    flex-direction: row;
    justify-self: center;
    text-align: left;
    margin-left: 2vw;
    width: 100%;
    grid-template-columns: 14% 14% 72%;
}

#discover-button-wrapper>* {
    max-height: 50px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    align-content: right;
    justify-self: end;
    height: auto;
    margin: 1vw 50px;
}

.search-bar {
    padding: 2px;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 1vw;
    text-align: left;
    display: flex;
    flex-direction: row;
    float: right;
    align-content: center;
    margin: auto;
}

.search-input {
    background: none;
    color: inherit;
    border: none;
    padding: 4px;
    font: inherit;
    cursor: text;
    outline: inherit;
}

.search-button,
#notif-button {
    background: none;
    color: inherit;
    border: none;
    padding: 4px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navIcon {
    width: 32px;
    height: 32px;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\
-------------------------------------------------------
Sidebar Nav style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/
*/

.SideBarContainer {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
    z-index: 2;
    background-color: white;
}

.SideBarContainer h1 {
    width: 220px;
    height: 5vh;
    font-size: 24px;
}

.ProfileContainer {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer h1 {
    font-weight: bold;
    font-size: 30px;
    height: 10vh;
}

.containerButtonSideBar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.containerButtonSideBar button {
    width: 220px;
    height: 6vh;
    background-color: white;
    border: none;
    outline: solid lightgrey 1px;
    cursor: pointer;
    font-size: larger;
    text-align: left;
    padding-left: 34px;
    padding-right: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.containerButtonSideBar button:hover {
    transition-duration: 0.25s;
    background-color: #e3e3e3;
}

.containerButtonSideBar button.active {
    background-color: #eeeeee;
    transition: 0.25s;
}

/* Profile picture or avatar */
.displayProfilePic,
#profile-pic {
    height: 140px;
    width: 140px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 14px;
    object-fit: cover;
    overflow: hidden;
}

.displayProfilePic img,
#profile-pic img {
    scale: 1.1;
}

.Logout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logout button {
    background-color: white;
    color: var(--orange);
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: solid var(--orange) 2px;
    font-weight: 900;
}

.Logout button:hover {
    transition-duration: 0.25s;
    background-color: var(--orange);
    color: white;
    outline: solid var(--orange) 2px;
    cursor: pointer;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\
-------------------------------------------------------
Notifications Modal style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/
*/

.notifications-container {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -100px; /* Hidden by default */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
    z-index: 1;
    background-color: white;
    transition: left 0.4s ease;
    overflow-y: auto; /* Add scroll bar */
}

.notifications-container.show {
    left: 220px; /* Slide in when show class is added */
}

.notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.notifications-header button {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url('../../public/images/icons/arrow-right.png');
    background-size: cover;
    background-color: transparent;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.notifications-body {
    padding: 15px;
}

/*  */

#profile-page {
    width: 80%;
    margin: 2% auto;
    text-align: left;
}

#profile-banner {
    width: 80%;
    height: 20vh;
}

#profile-header {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    text-align: left;
}

#profile-header>* {
    margin: auto 10%;
}

#profile-page {
    display: grid;
    grid-template-columns: 50% 50%;
}




@media only screen and (max-width: 800px) {

    #discover-button-wrapper {
        grid-template-columns: 20% 20% 60%;
    }

    .search-bar {
        font-size: 0.5rem;
    }

    .discover-button {
        font-size: 0.8rem;
    }

    .tag-name {
        font-size: 2vw;
    }

    .discover-card {
        width: 90%;
        max-width: 90%;
    }

    .sideBarContainer {
        width: 100vw;
        height: 50px;
        /*border: solid black 2px;*/
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 1;
        /*box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;*/
    }

    .ProfileContainer {
        width: 15vw;
    }

    .containerButtonSideBar {
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .containerButtonSideBar button {
        width: 20vw;
        height: 50px;
        padding-left: calc((100vw - 160px) / 10);
        padding-right: auto;
    }
}

.profile-list {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\
-------------------------------------------------------
Project page style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/
*/

/* some rules before the @media query are placed here to
allow them to be reformatted when the mobile view is used */

/*rules for the full page itself*/
#project-page {
    padding: 0px 15px;
    width: calc(100% - 250px);
}

/*used for the header section of the page (with the project title, description & other options)*/
#project-info {
    display: grid;
    grid-template: 1fr 1fr / .2fr 1.5fr 400px;
    grid-template-areas: 'picture header listing'
        'blank desc listing'
}

/*rules for the header used when a project member is viewing the page*/
#project-info-member {
    display: grid;
    grid-template: 1fr 1fr / .2fr 1fr 200px 400px;
    grid-template-areas: 'picture header buttons listing'
        'blank desc buttons listing';
}

/*rules for the 'enter virtual space' and 'new post' buttons on the header view for members*/
#member-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 20px;
}

/* --- all 8 'create' rules direclty below are technically not a part of the project page --- */
/* Shouldn't they be categorized as part of the myProjects page or as its own separate category? */
/* These aren't my rules, so I will refrain from moving them myself for now -Joseph Dunne*/
#create-project-desc {
    width: 80%;
    height: 30vh;
}

#create-project-button-list {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}

#create-page-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
    padding: 2px 8px;
    width: 80%;
    margin: auto;
}

#create-page-2 {
    text-align: left;
    margin-left: 3%;
}

#create-page-2 h2 {
    text-align: center;
}

#create-dates {
    display: flex;
    flex-direction: column;
}

#create-project-name {
    width: 100%;
}

#create-project-roles {
    background-color: #D0D0D0;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@media only screen and (max-width: 800px) {
    #project-page {
        width: calc(100% - 30px);
    }

    #project-info {
        display: grid;
        grid-template: 1fr .5fr 1fr / .2fr 2fr;
        grid-template-areas: 'picture header'
            'desc desc'
            'listing listing';
    }

    #project-info-member {
        grid-template: 1fr .5fr 1fr / .2fr 2fr;
        grid-template-areas: 'picture header'
            'buttons buttons'
            'desc desc'
            'listing listing';
    }

    #member-buttons {
        flex-direction: row;
        align-items: center;
    }

    /*re-sizes 'enter virtual space' button to fit with narrower width*/
    #virtual-space-entrance {
        width: 40vw;
        max-width: 200px;
    }

    /*shifts the options dropdown on the header view for members so that it doesn't go offscreen*/
    #more-options-popup {
        right: 16px;
    }
}

/*general rules for buttons
orange-button class makes the button orange, white-button class makes the button white
may need to be change when re-styling according to new wireframes in the future*/
.orange-button {
    background-color: var(--orange);
    color: var(--white);
    font-size: large;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.orange-button:hover {
    background-color: var(--orange-hover);
}

.white-button {
    background-color: var(--white);
    color: black;
    border: none;
    cursor: pointer;
}

.white-button:hover {
    background-color: #D0D0D0;
}

/*rules for the 'return' button*/
#return-button-container {
    text-align: left;
}

#return-button {
    font-weight: bold;
    font-size: larger;
    height: 40px;
    margin-bottom: 10px;
}

/*rules for the picture in the top left of the page, used as a profile for the project itself*/
#project-picture {
    width: 96px;
    height: 96px;
    grid-area: picture;
}

/*rules for the title of the project & for nearby buttons*/
#project-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-buttons {
    display: flex;
    align-items: center;
}

#follow-project {
    width: 100px;
    height: 40px;
}

/*rules for the more options dropdown menu*/
#more-options-popup {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 5px black;

    width: 200px;
    height: 100px;
}

#more-options-popup button {
    display: block;
    border: 1px solid rgb(209, 209, 209);
    width: 90%;
    height: 40%;
    margin: 2.5% auto;
}

/*basic rules for hiding/showing certain elements
used for the more options dropdown menu, but might be used in other pages as well
be careful if changing these
Might be safe to move to the top of styles.css due to their general use*/
.hide {
    display: none;
}

.show {
    display: block;
}

/*rules for buttons only visible on the project member view
includes 'enter virtual space' and 'make post' buttons*/
#member-buttons button {
    border: 1px solid var(--lightGray);
}

#virtual-space-entrance {
    height: 80px;
}

#make-post-button {
    height: 60px;
}

/*rules for the project description*/
#project-desc {
    grid-area: desc;
    text-align: left;
}

/*rules for the 'looking for roles' window on the right of the header*/
#project-listings {
    grid-area: listing;
    box-shadow: 0px 4px 10px var(--gray);
    margin: 20px 60px;
    padding: 0px 10px;
}

#interested-button {
    background-color: var(--white);
    color: black;
    border: 2px solid var(--gray);
    border-radius: 3px;
    width: 50%;
    margin: 10px;
}

#interested-button:hover {
    background-color: #D0D0D0;
}

/*rules for the editing roles popup*/
#edit-roles-options {
    display: grid;
    gap: 10px;
    padding: 10px;
    text-align: left;
    grid-template: 1fr 4fr / 120px 80px auto;
    grid-template-areas: 'name number list'
        'desc desc list'
}

#role-name-input {
    grid-area: name;
}

#role-name-input input {
    width: 120px;
}

#role-spots-input {
    grid-area: number;
    text-align: right;
}

#role-spots-input input {
    width: 50px;
}

#role-desc-input {
    width: 100%;
    grid-area: desc;
}

#role-desc-input textarea {
    width: 97%;
    height: 83%;
    resize: none;
}

#roles-list {
    grid-area: list;
}

.role-list-info {
    display: flex;
    border-bottom: 1px solid var(--gray);
}

.role-list-name {
    padding-right: 10px;
}

.role-list-name-edit-hide {
    display: none;
}

.role-list-num {
    padding-right: 10px;
}

.role-list-num-edit-hide {
    display: none;
}

.role-list-edit {
    margin-left: auto;
}

.role-list-done-hide {
    display: none;
}

.role-show {
    display: block;
}

.role-list-delete {
    margin-left: 10px;
}

.role-list-description {
    display: block;
    border-bottom: 1px solid var(--gray);
    background-color: var(--lightGray);
}

/*rules for the divider between the header and members
used to help wrap the lines around the word 'Members'*/
#member-divider hr {
    display: inline-block;
    width: calc((100% - 140px)/2);
}

#member-divider span {
    margin: 0px 24px;
}

/*rules for the element containing the project members*/
#project-members {
    display: flex;
    overflow-x: auto;
}

/*rules for the individual member items*/
.project-member {
    width: 200px;
    min-width: 200px;
    cursor: pointer;
}

.project-member:hover {
    background-color: #dfdfdf;
}

.project-member img {
    width: 64px;
}

.member-name:hover {
    text-decoration: underline;
}

.member-role {
    color: #F76902;
}

/*rules for the element containing posts for the project*/
#project-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2vw;
    justify-content: space-around;
}

/*rules for the individual post items*/
.project-post {
    box-shadow: 5px 5px 10px grey;
    width: 95%;
    max-width: 260px;
    height: 310px;
    /* old rules for larger-sized posts
    max-width: 440px;
    height: 520px;
    */
    padding: 10px;
    cursor: pointer;
}

.project-post:hover {
    background-color: #dfdfdf;
}

.project-post img {
    width: 50vw;
    height: 50vw;
    max-width: 220px;
    max-height: 220px;
    /* old rules for larger-sized posts
    width: 85vw;
    height: 85vw;
    max-width: 420px;
    max-height: 420px;
    */
}

.post-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-content button {
    background-color: white;
    width: 48px;
    height: 48px;
}

.post-content button:hover {
    background-color: gray;
}

.post-content img {
    width: 32px;
    height: 32px;
}

/*rules used for the settings window, accessible on the member header view*/
/*rules used for the tabs in the settings window*/
#settings-tabs {
    display: flex;
    margin: 0 50px;
    gap: 30px;
}

.tab {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.tab-selected {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

/*rules used for the delete button & its relevant popup*/
#delete-project {
    margin-left: auto;
    color: red;
    border: 2px solid red;
}

#project-delete-check {
    padding: 10px 0;
}

#project-delete-cancel {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 30px;
}

#project-delete-final {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    color: white;
    height: 30px;
    border: none;
}

#project-delete-final:hover {
    background-color: #af0000;
    color: #a0a0a0
}

/*rules for the area containing actual settings*/
#settings-content {
    margin: 0 15%;
}

/*rules used for the 'cancel' and 'save' buttons*/
#settings-cancel {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

#settings-save {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
project page general settings rules
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*rules  for the whole 'general settings' tab*/
#general-settings {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 3fr;
    grid-template-areas: 'image name'
        'image theme'
        'pic-edit hiring';
    grid-gap: 10px;
    height: 200px;
}

/*rules for the various elements of the general settings*/
#picture-edit {
    grid-area: image;
    width: 64px;
    height: 64px;
}

#name-edit {
    grid-area: name;
}

#theme-select {
    grid-area: theme;
}

#edit-button {
    grid-area: pic-edit;
}

#hiring-checkbox {
    grid-area: hiring;
    align-self: center;
}

/*
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
-------------------------------------------------------
project page member settings rules
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
*/

/*rules for the top section of the 'member settings' tab*/
#member-settings-header {
    display: flex;
    justify-content: center;
}

/*rules for the whole list of members*/
#member-settings-list {
    height: 50vh;
    overflow-y: auto;
}

/*rules for individual member listings*/
.member-settings-listing {
    display: flex;
    margin: 10px 0;
    align-items: center;
    gap: 10px;
}

.member-settings-listing img {
    width: 48px;
}

.member-settings-listing button {
    height: 50%;
}

.member-settings-role-input {
    display: none;
}

.member-settings-edit-done {
    display: none;
}

.member-settings-show {
    display: block;
}

.member-settings-more {
    margin-left: auto;
}

/*rules used for a cover over a member listing when they are going to be removed*/
.member-settings-cover {
    display: none;
}

.member-settings-cover-show {
    display: flex;
    position: absolute;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 50px;
    width: 70%;
    background-color: white;
    opacity: 95%;
}

/*used for the dropdown menus for each individual member*/
.settings-hide {
    display: none;
}

.settings-show {
    display: block;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    right: 10px;
    z-index: 2;
}

.settings-show button {
    display: block;
    border: 1px solid rgb(209, 209, 209);
    width: 90%;
    height: 40%;
    margin: 2.5% auto;
}

/* !!! This rule is not a part of project member settings, and should be moved somewhere else !!!*/
/* As it is not my own, I will refrain from doing so for now -Joseph Dunne */
#create-proj-btn {
    padding: 10px 50px;
    font-weight: bold;
    font-size: larger;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
Project Post Page style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/*rules for the 'return' and 'to project' buttons*/
#post-page-nav-buttons {
    text-align: left;
    margin: 0 10px;
    width: 80px;
    height: 40px;
}

/*rules for the header of the post project page, containing a picture and the project's name,
plus a follow button & a more options button*/
#post-header {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 80px;
    align-items: center;
}

#post-header button {
    height: 32px;
}

#post-project-image {
    width: 64px;
    height: 64px;
}

/*Rules for the entirety of the post page below the header*/
#post-page-content {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    height: 80%;
}

/*rules for the 'post' half of the page*/
/* Need to re-adjust height, some content goes offscreen if window height is low */
#post {
    display: grid;
    width: 45%;
    min-width: 500px;
    grid-template: 40px auto 40px / auto 32px;
    grid-template-areas: 'name options'
        'post post'
        'info share';
}

/*rules for the 'comments & replies' half of the page*/
#comments {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 500px;
}

@media only screen and (max-width: 800px) {

    #post {
        min-width: 0;
        max-width: 500px;
        width: 95%;
    }

    #comments {
        min-width: 0;
        max-width: 500px;
        width: 95%;
        padding-bottom: 60px;
    }
}

/*rules for the heading of the post, with its name and a more options button*/
#post-name {
    grid-area: name;
    text-align: left;
}

#post-options {
    grid-area: options;
}

/*rules for the area containing the main content of the post*/
#post-content {
    grid-area: post;
    border: 1px solid grey;
    margin: 10px;
}

/*rules for the information section below the post*/
#post-info {
    grid-area: info;
    text-align: left;
    height: 60px;
}

#post-author {
    font-weight: 600;
    cursor: pointer;
}

#post-author:hover {
    text-decoration-line: underline;
}

#author-role {
    color: var(--orange);
    font-size: small;
}

#post-share {
    grid-area: share;
}

/*rules for the area containing comments and replies*/
#comments-content {
    border: 1px solid grey;
    height: calc(100vh - 300px);
    padding: 10px;
    overflow-y: auto;
}

/*rules for individual comments*/
.post-comment {
    display: grid;
    grid-template: 20px auto 20px auto / 50px auto 25px;
    grid-template-areas: 'profile header options'
        'profile body like'
        'profile reply reply'
        'profile replies replies'
    ;
    margin: 10px 0;
}

.post-comment button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.post-comment button:hover {
    background-color: #D0D0D0;
}

.comment-profile {
    grid-area: profile;
    width: 40px;
}

.comment-header {
    grid-area: header;
    text-align: left;
}

.comment-author {
    cursor: pointer;
}

.comment-author:hover {
    text-decoration-line: underline;
}

.comment-date {
    color: var(--orange);
}

.comment-options {
    grid-area: options;
}

.comment-content {
    grid-area: body;
    text-align: left;
}

.comment-like {
    grid-area: like;
}

.comment-reply {
    grid-area: reply;
    text-align: left;
    width: 100px;
}

.comment-replies {
    grid-area: replies;
    text-align: left;
}

/*rules for the reply input elements below the comments area*/
#reply-content {
    display: grid;
    height: 100px;
    grid-template: 1fr 2fr 1fr / 3fr 1fr;
    grid-template-areas: 'prompt prompt'
        'input input'
        'buttons submit'
}

#reply-prompt {
    display: flex;
    grid-area: prompt;
    flex-direction: row;
    gap: 10px;
}

#reply-input {
    grid-area: input;
    resize: none;
    width: 100%;
}

#reply-attach-buttons {
    grid-area: buttons;
    text-align: left;
}

#reply-submit {
    grid-area: submit;
}

/*
/\/\/\/\/\/\/\/\/\/\/\
-------------------------------------------------------
Page Popup style rules
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/
*/

/*rules for the cover a popup uses*/
.popup-cover-hide {
    display: none;
}

.popup-cover-show {
    display: block;
    position: fixed;
    background-color: black;
    opacity: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*rules for the popup itself*/
.popup-hide {
    display: none;
}

.popup-show {
    display: block;
    position: fixed;
    background-color: white;
    border-radius: 4px;
    max-width: 95vw;
    max-height: 95vh;
    opacity: 100%;
}

#popup-close {
    position: absolute;
    border-radius: 4px;
    top: 10px;
    right: 10px;
}

#popup-close img {
    width: 40px;
    height: 40px;
}

/*rules used to prevent page scrolling while a popup is open*/
.page-scroll-lock {
    position: fixed;
    padding-right: 15px;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
Settings Page style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

button {
    cursor: pointer;
    transition: .2s;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    width: 180px;
    text-align: left;
    /* margin-left: 30px; */
}

#language-select {
    width: 200px;
    height: 40px;
    padding: 5px 10px;
}

#settings-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid lightsalmon; */
    height: auto;
    margin-bottom: 200px;
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#settings-page::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.settings-page-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid lightgreen; */
    width: 80%;
    border-bottom: 2px solid black;
    margin: 20px 0;
}

.settings-page-tab-links {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90px;
    font-size: 20px;
    padding: 10px;
}

.settings-page-tab-links.settings-page-active-link {
    font-weight: 700;
}

.settings-page-tab-contents {
    display: none;
    flex-direction: column;
    width: 80%;
    gap: 18px;
    /* border: 1px solid lightcoral; */
}

.setting-in-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 100%;
    /* border: 1px solid lightblue; */
}

.settings-page-active-tab {
    display: flex;
}

.setting-in-page h3 {
    margin-right: 20px;
    width: 200px;
    text-align: left;
    /* border: 1px solid lightseagreen; */
}

.setting-in-page h3 span {
    font-size: 14px;
    font-weight: 400;
    text-wrap: balance;
}

.setting-content {
    margin: auto 0px;
    padding: 5px;
    /* border: 1px solid lightcoral; */

}

.settingsBtns {
    background-color: white;
    color: var(--orange);
    width: fit-content;
    height: 40px;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: solid var(--orange) 2px;
    font-weight: 900;
}

.settingsBtns:hover {
    background-color: var(--orange);
    color: white;
    transition: .2s;
}

.textInput {
    width: 200px;
    height: 30px;
    padding: 5px 20px;
    border: 1px solid var(--medGray);
    background-color: white;
    border-radius: 12px;
    font-size: 15px;
    text-align: left;
    margin: 14px 0;
}

/* From: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;

    /* margin-left: 10px; */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* The switch slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D0D0D0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--orange);
}

input:focus+.slider {
    box-shadow: 0 0 1px #D0D0D0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 350px;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid white;
    background: var(--orange);
    cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid white;
    background: var(--orange);
    cursor: pointer;
}

#setting-spacer {
    height: 100px;
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
Login and Signup Pages style rules 
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.error {
    color: var(--orange);
    font-weight: 500;
    height: 24px;
    font-size: 14px;
    margin-bottom: 4px;
}

.background-cover {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-signup-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 690px;
    width: 1000px;
    background-color: white;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.25);
    border-radius: 4px;
}

.login-form,
.signup-form {
    width: 500px;
    height: 650px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: white;
    padding: 20px;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directory {
    width: 500px;
    height: 650px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: white;
    background-image: url("../../public/images/directory-background.png");
    color: white;
    padding: 20px;
    border-radius: 4px 0 0 4px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directory h1 {
    font-size: 64px;
    margin: 0px 0 0 0;
}

.directory p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 100px;
}

.login-form h2,
.signup-form h2 {
    font-size: 48px;
    margin: 18px;
}

.signup-name-input {
    width: 120px;
    height: 40px;
    margin: 10px;
    padding: 5px 20px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    text-align: center;
}

.signup-input,
.login-input {
    width: 300px;
    height: 40px;
    margin: 8px;
    padding: 5px 20px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    text-align: center;
}

#main-loginsignup-btn {
    width: 110px;
    height: 40px;
    margin: 20px auto 0px auto;
    padding: 5px 20px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.directory button {
    width: 110px;
    height: 40px;
    margin: 20px auto 0px auto;
    padding: 5px 20px;
    font-size: 18px;
    border: 1px solid #E3E3E3;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: 600;
}

.login-form-inputs {
    /* border: 1px solid black; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-inputs {
    /* border: 1px solid black; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forgot-password {
    font-size: 14px;
    color: black;
    margin: 0px;
    box-shadow: none;
    width: 160px;
    text-decoration: underline;
    background-color: white;
    border: none;
    font-weight: 600;
    padding: 10px;
}

.spacer {
    height: 30px;
}

.mobile-signup,
.mobile-login {
    display: none;
}

#signup-btn-mobile,
#login-btn-mobile {
    display: none;
}

@media screen and (max-width: 1020px) {
    .background-cover {
        background-image: url("../../public/images/mobile-directory-background.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login-signup-container {
        width: 540px;
        border-radius: 5px;
    }

    .login-form,
    .signup-form {
        position: fixed;
        border-radius: 4px;
    }

    .directory {
        visibility: collapse;
        display: none;
    }

    .mobile-signup,
    .mobile-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #signup-btn-mobile,
    #login-btn-mobile {
        display: block;
        font-weight: 600;
        color: var(--orange);
        margin: 0 0 0 8px;
    }

    #signup-btn-mobile:hover,
    #login-btn-mobile:hover {
        cursor: pointer;
    }

}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
Signup Process Modal style rules
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

.signupProcess-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/images/mobile-directory-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signupProcess-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    z-index: 10;
}

.ChooseSkills,
.ChooseInterests,
.ChooseProficiencies,
.CompleteProfile {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
    width: 1000px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    flex-direction: column;
    z-index: 1;
}

#signupProcess-title {
    font-size: 28px;
    color: var(--orange);
    width: 500px;
}

/* buttons */
#signupProcess-btns {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

#signup-nextBtn:disabled {
    border: none;
    border-radius: 14px;
    height: 45px;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--lightGray);
    color: black;
    border: 2px solid var(--lightGray);
    cursor: not-allowed;
}

#signup-nextBtn:disabled:hover {
    background-color: var(--lightGray);
    border: 2px solid var(--lightGray);
    color: black;
}

#signup-nextBtn {
    border: none;
    border-radius: 14px;
    height: 45px;
    width: 100px;
    font-size: 18px;
    font-weight: 800;
    background-color: white;
    color: var(--orange);
    border: 2px solid var(--orange);
}

#signup-nextBtn:hover {
    color: white;
    background-color: var(--orange);
}

/* #signup-nextBtn:active {
    transform: scale(0.95);
} */

#signup-backBtn {
    border: none;
    border-radius: 14px;
    height: 45px;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--lightGray);
    color: black;
    border: 2px solid var(--lightGray);
}

#signup-backBtn:hover {
    background-color: var(--medGray);
    border: 2px solid var(--medGray);
}

/* #signup-backBtn:active {
    transform: scale(0.95);
} */

#skill-select,
#interest-select,
#proficiency-select {
    height: 515px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin: 20px;
    /* border: 1px solid hotpink; */
}

#profile-details {
    height: 515px;
    margin: 20px;
    /* border: 1px solid hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup-fullname {
    margin: 0 20px;
}

.signup-fullname h2 {
    font-size: 24px;
    margin: 0;
}

.signup-fullname p {
    margin: 0;
}

#signup-profile-skill {
    font-size: 14px;
    margin: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;

    margin: 4px 25px;
    flex-wrap: wrap;
}

#signup-profile-skill div {
    margin: 0 4px;
}

#skill-select button,
#interest-select button,
#proficiency-select button,
#profile-details button {
    width: 150px;
    height: 50px;
    margin: 10px;
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid var(--lightGray);
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: 400;
    box-shadow: none;
}

#skill-select button.active,
#interest-select button.active,
#proficiency-select button.active,
#profile-details button.active {
    border: 2px solid var(--orange);
}

#display-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

#display-skills button.design {
    border: 2px solid var(--blue);
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
}

#pronouns-input {
    width: 100px;
    height: 30px;
    margin: 10px 0px 10px 10px;
    padding: 5px 20px;
    font-size: 15px;
    border: 2px solid var(--lightGray);
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: 400;

}

#bio-input {
    width: 420px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    border: 2px solid var(--lightGray);
    border-radius: 4px;
    resize: none;
    font-size: 16px;
}

@media screen and (max-width: 1020px) {
    #signupProcess-btns {
        width: 700px;
    }

    .ChooseSkills,
    .ChooseInterests,
    .ChooseProficiencies,
    .CompleteProfile {
        width: 800px;
    }
}

@media screen and (max-width: 820px) {
    #signupProcess-btns {
        width: 500px;
    }

    .ChooseSkills,
    .ChooseInterests,
    .ChooseProficiencies,
    .CompleteProfile {
        width: 550px;
    }
}

@media screen and (max-width: 550px) {
    body {
        padding: 0px;
    }

    #signupProcess-btns {
        width: 480px;
    }

    .ChooseSkills,
    .ChooseInterests,
    .ChooseProficiencies,
    .CompleteProfile {
        box-shadow: none;
        width: 100%;
        /* height: 100%; */
    }
}

@media screen and (max-width: 400px) {
    body {
        padding: 0px;
    }

    .ChooseSkills,
    .ChooseInterests,
    .ChooseProficiencies,
    .CompleteProfile {
        box-shadow: none;
        width: 100%;
        /* height: 100%; */
    }

    #signupProcess-title {
        font-size: 24px;
    }
}

/* 
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
-------------------------------------------------------
Scrollbar style rules
-------------------------------------------------------
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 2px solid var(--lightGray);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--medGray);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}