.flexRow3 {
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .flexRow4 {
    background-color: plum;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    height: 2.5vh;
    border: 1px solid grey;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input::placeholder {
    color: grey;
    opacity: 0.6;
  }